Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, eslint --fix

.lintstagedrc:

{
  "src/**/*.ts": ["prettier --write", "eslint"],
  "test/**/*.ts": ["prettier --write", "eslint --fix"]
}

More easy description for vscode beginner
  README.md
Due: none

Support cjs config file for postcss and tailwind (#2764)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat: extend docker with compose plus yaml extension (#2767)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for OpenSCAD (#2768)
  icons/file_type_openscad.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add support for Teal (#2769)
  icons/file_type_teal.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add support for Dapr folder (#2771)
  icons/folder_type_dapr.svg
  icons/folder_type_dapr_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

More easy description for vscode beginner (#2789)
  README.md
Due: none

fix format
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Update Chef policyfile extensions (#2784)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

optimized
  icons/file_type_astro.svg
  icons/file_type_astroconfig.svg
Due: none

Add support for Astro (#2774)
  icons/file_type_astro.svg
  icons/file_type_astroconfig.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat(log): support for language id
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

feat(vscode): untrusted workspaces support
  package.json
Due: none

feat(vscode): virtual workspace support
  package.json
Due: none

feat(icon): support for licensebat icon
  icons/file_type_licensebat.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat(vscode): untrusted workspaces support (#2792)
  package.json
Due: none

feat(log): support for language id (#2790)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

feat(vscode): virtual workspace support (#2791)
  package.json
Due: none

feat(icon): support for licensebat icon (#2793)
  icons/file_type_licensebat.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

use black only for light themes
  icons/file_type_light_rust.svg
  icons/file_type_rust.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Update Rust icon (#2683)
  icons/file_type_light_rust.svg
  icons/file_type_rust.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

update to ts icon author's suggestion
  icons/file_type_tsconfig_official.svg
Due: none

Update TSConfig with official alternative (#2630)
  icons/file_type_tsconfig_official.svg
  src/iconsManifest/customsMerger.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/contributions/iconNames.ts
  test/iconsManifest/customsMerger/presets.test.ts
Due: prettier --write, eslint, eslint --fix

feat(rust): add light version of rust toolchain icon
  icons/file_type_light_rust_toolchain.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat(rust): add light version of rust toolchain icon (#2794)
  icons/file_type_light_rust_toolchain.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

chore(version): prepare release 11.5.0
  package-lock.json
  package.json
Due: none

changelog update
  CHANGELOG.md
Due: none

chore(version): prepare release 11.5.0 (#2795)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(vsce): fix the vsce version
  .travis.yml
Due: none

fix(vsce): fix the vsce version (#2796)
  .travis.yml
  CHANGELOG.md
Due: none

Use extensions instead of filenameGlobs for yarnrc
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Yarn Berry config file (#2733)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Resize and adjust color of Horusec icon
  icons/file_type_horusec.svg
Due: none

Update file_type_horusec.svg
  icons/file_type_horusec.svg
Due: none

feat(postcss): add missing extensions
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat(appsemble): add Appsemble icon
  icons/file_type_appsemble.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat(postcss): add missing extensions (#2803)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Added horusec-config file icon (#2787)
  icons/file_type_horusec.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat(appsemble): add Appsemble icon (#2809)
  icons/file_type_appsemble.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint
