Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

.lintstagedrc:

{
  "src/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts"
  ],
  "test/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts --fix"
  ]
}

feat(icon): add robocop icon (#4311)
  icons/file_type_light_robocop.svg
  icons/file_type_robocop.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add flue icon (#4308)
  icons/file_type_flue.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add aube icon (#4307)
  icons/file_type_aube.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): add robotframework language ID for robot icon (#4315)
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

chore(devops): add `.nrcrc` in`.prettierignore` list
  .prettierignore
Due: none

chore(devops): disable CI code coverage
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  .nycrc
Due: none

chore(devops): disable CI code coverage (#4317)
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  .nycrc
Due: none

Fix #2786: [Icon Request] Support for ' .rpy'
  icons/file_type_renpy.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add RobotCode icon (#4314)
  icons/file_type_robotcode.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add smolmachine icon (#4309)
  icons/file_type_smolmachine.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(devops): attempt to enable CI code coverage
  .codeclimate.yml
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  codecov.yml
Due: none

chore(devops): attempt to enable CI code coverage (#4319)
  .codeclimate.yml
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  codecov.yml
Due: none

chore(devops): upgrade all actions to their latest version
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .github/workflows/wpil.yml
Due: none

chore(devops): upgrade all actions to their latest version (#4320)
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .github/workflows/wpil.yml
Due: none

fix(icon): simplify the Ghidra mark
  icons/file_type_ghidra.svg
Due: none

chore(devops): add markdown rules and ci step
  .claude/commands/add-file-icon.md
  .claude/commands/add-folder-icon.md
  .claude/commands/check-icon.md
  .claude/commands/review-icon-pr.md
  .github/workflows/test.yml
  .markdownlint-cli2.jsonc
  .prettierrc
  AGENTS.md
  CLAUDE.md
  README.md
  package-lock.json
  package.json
Due: none

fix(icon): redraw the Ghidra mark as flat shapes
  icons/file_type_ghidra.svg
Due: none

chore(devs): attempt to fix code coverage reporting
  .github/workflows/test.yml
Due: none

chore(devs): attempt to fix code coverage reporting (#4322)
  .github/workflows/test.yml
Due: none

fix(devops): correctly declare code coverage reporting step
  .github/workflows/test.yml
Due: none

fix(devops): correctly declare code coverage reporting step (#4323)
  .github/workflows/test.yml
Due: none

fix(devops): reverting changes to code coverage reporting step
  .github/workflows/test.yml
Due: none

fix(devops): reverting changes to code coverage reporting step (#4324)
  .github/workflows/test.yml
Due: none

chore(devops): fix ordering
  AGENTS.md
Due: none

chore(devops): use markdownlint action in CI
  .github/workflows/test.yml
Due: none

feat(icon): add IDA Pro database support
  icons/file_type_ida.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(icon): regenerate the Binary Ninja preview
  icons/file_type_binary_ninja.svg
Due: none

fix(icon): add Aspire apphost.mts filename mapping
  src/iconsManifest/supportedExtensions.ts
  test/iconsManifest/manifestBuilder/files.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

Apply suggestion from @maddymontaquila
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): preserve AppHost casing in Zed
  src/iconsManifest/manifestBuilder.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/extensions/fileExtension.ts
  src/models/iconsManifest/buildFiles.ts
  test/iconsManifest/manifestBuilder/files.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

fix(icon): keep AppHost mapping lowercase
  src/iconsManifest/manifestBuilder.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/extensions/fileExtension.ts
  src/models/iconsManifest/buildFiles.ts
  test/iconsManifest/manifestBuilder/files.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

test: remove Aspire filename assertions
  test/iconsManifest/manifestBuilder/files.test.ts
Due: prettier --write, eslint . --ext .ts --fix

refactor: remove the format property from icon manifests
  src/iconsManifest/customsMerger.ts
  src/iconsManifest/manifestBuilder.ts
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
  src/models/extensions/defaultExtension.ts
  src/utils/index.ts
  test/fixtures/supportedExtensions.ts
  test/fixtures/supportedFolders.ts
  test/iconsManifest/customsMerger/defaultExtensions.test.ts
  test/iconsManifest/customsMerger/fileExtensions.test.ts
  test/iconsManifest/customsMerger/folderExtensions.test.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  test/iconsManifest/manifestBuilder/files.test.ts
  test/iconsManifest/manifestBuilder/folders.test.ts
  test/iconsManifest/specsExtensions.test.ts
  test/iconsManifest/specsFolders.test.ts
  test/utils/utils.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

zed support
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): add Aspire apphost.mts filename mapping (#4325)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Update src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add skill folder
  icons/folder_type_light_skill.svg
  icons/folder_type_light_skill_opened.svg
  icons/folder_type_skill.svg
  icons/folder_type_skill_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add lua folder
  icons/file_type_lua.svg
  icons/folder_type_lua.svg
  icons/folder_type_lua_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add protobuf folder
  icons/folder_type_protobuf.svg
  icons/folder_type_protobuf_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

chore(devops): lint staged markdown files
  .lintstagedrc.json
Due: none
