Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

.lintstagedrc:

{
  "src/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts"
  ],
  "test/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts --fix"
  ]
}

add: support `slides` folders
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

fix: delete `folder_type_slides_closed` missing a `.svg`
  icons/folder_type_slides_opened
Due: none

add: slides folder icon (opened)
  icons/folder_type_slides_opened.svg
Due: none

fix: made sure `opened`'s SVG shows an opened folder
  icons/folder_type_slides_opened.svg
Due: none

feat(icon): add relay icon
  icons/file_type_relay.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(devops): production dist doesn't produce zen icons file manifest
  src/iconsManifest/iconsGenerator.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix
