Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

refactor(settings): remove obsolete functions of legacy extension state
  src/app/extensionManager.ts
  src/models/settings/settingsManager.ts
  src/settings/settingsManager.ts
  test/app/extensionManager.test.ts
  test/settings/settingsManager.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

chore(devops): add license in distributed bundle
  webpack.config.ts
Due: none

chore(devops): update copyright
  LICENSE
  webpack.config.ts
Due: none

Replace custom RenPy icon with official artwork
  icons/file_type_renpy.svg
Due: none

Add empty extensions array to renpy entry to fix manifest build
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(settings): remove obsolete functions of legacy extension state (#4331)
  src/app/extensionManager.ts
  src/models/settings/settingsManager.ts
  src/settings/settingsManager.ts
  test/app/extensionManager.test.ts
  test/settings/settingsManager.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

add: `manifest.in` to `manifest` icon mapping
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(docs): folder icon wiki & pull request template
  .github/PULL_REQUEST_TEMPLATE/folder_icon.md
  README.md
Due: none

feat(icon): add fallow icon
  icons/file_type_fallow.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

docs: Update related extensions section
  README.md
Due: none

docs: fix typo
  README.md
Due: none

feat(icon): add fallow icon (#4336)
  icons/file_type_fallow.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

docs: remove unmaintained section
  README.md
Due: none

chore(devops): update html part
  README.md
Due: none

docs: rename `extensions` to `projects`
  README.md
Due: none

fix(language): add amxxpawn language ID for .sma files
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

fix: standardised casing to `MANIFEST.in`
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add separate icon for AutoHotkey v2
  icons/file_type_autohotkey2.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: remove xml:space=preserve attr
  icons/file_type_autohotkey2.svg
Due: none

add: pyinstaller file icon
  icons/file_type_pyinstaller.svg
Due: none

add: support for `pyinstaller.spec` file
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

compress: pyinstaller file icon
  icons/file_type_pyinstaller.svg
Due: none

add: `contributing` file icon
  icons/file_type_contributing.svg
Due: none

add: support for `CONTRIBUTING.md` file
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

improve: `contributing` file icon
  icons/file_type_contributing.svg
Due: none

improve: pyinstaller file icon
  icons/file_type_pyinstaller.svg
Due: none

add: `domain` folder icons
  icons/folder_type_domain.svg
  icons/folder_type_domain_opened.svg
Due: none

add: support `domain` folders (opened/closed)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

compress: remove leftover `vecta.io` reference
  icons/folder_type_domain.svg
Due: none

compress: remove leftover `vecta.io` reference
  icons/folder_type_domain_opened.svg
Due: none

add: support folders named `domains`
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

compress: remove leftover `vecta.io` reference
  icons/file_type_contributing.svg
Due: none

compress: remove leftover `vecta.io` reference
  icons/file_type_pyinstaller.svg
Due: none

feat(icon): add jitpack icon
  icons/file_type_jitpack.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support `MANIFEST.in` file (#4334)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add light mode version
  icons/file_type_light_jitpack.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add separate icon for AutoHotkey v2 (#4339)
  icons/file_type_autohotkey2.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: disable angular related tailwind icon
  src/iconsManifest/supportedExtensions.ts
  test/iconsManifest/specsExtensions.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

add: slides folder icon (closed)
  icons/folder_type_slides.svg
Due: none

add: slides folder icon (opened)
  icons/folder_type_slides_opened
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
