Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

.lintstagedrc:

{
  "src/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts"
  ],
  "test/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts --fix"
  ]
}

feat(icon): add LSPosed module file support
  icons/file_type_xposed.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): scope LSPosed module properties
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add HIP icon
  icons/file_type_hip.svg
  icons/file_type_light_hip.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add hip language ID
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add tombi icon
  icons/file_type_tombi.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add kysely icon
  icons/file_type_kysely.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

add geolibre and pmtiles
  icons/file_type_geolibre.svg
  icons/file_type_pmtiles.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

change borders from 1px to 2px
  icons/file_type_geolibre.svg
  icons/file_type_pmtiles.svg
Due: none

feat(icon): add HIP icon (#4246)
  icons/file_type_hip.svg
  icons/file_type_light_hip.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add kysely icon (#4248)
  icons/file_type_kysely.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(typescript): update to TypeScript 6 (#4096)
  package-lock.json
  package.json
  src/app/extensionManager.ts
  src/constants/index.ts
  src/i18n/languageResourceManager.ts
  src/iconsManifest/iconsGenerator.ts
  src/vscode/vscodeManager.ts
  test/app/extensionManager.test.ts
  test/app/specs.test.ts
  test/configuration/configManager.test.ts
  test/i18n/i18nManager.test.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  test/index.test.ts
  test/index.ts
  test/services/compositionRoot.test.ts
  test/settings/settingsManager.test.ts
  test/tools/build.test.ts
  test/tools/bundle.test.ts
  test/uninstall.test.ts
  test/utils/utils.test.ts
  test/vscode/vscodeManager.test.ts
  tsconfig.json
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

feat(icon): add tombi icon (#4247)
  icons/file_type_tombi.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(tsconfig): add DOM library to compiler options.
  tsconfig.json
Due: none

feat: add uvue icon
  icons/file_type_uvue.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: remove xml:space attr
  icons/file_type_uvue.svg
Due: none

fix(icon): redraw Binary Ninja icon as SVG
  icons/file_type_binary_ninja.svg
Due: none

fix(icon): redraw IDA Pro icon as SVG
  icons/file_type_ida.svg
Due: none

fix(icon): tighten Android icon margins
  icons/file_type_android.svg
Due: none

fix(icon): tighten LSPosed icon margins
  icons/file_type_xposed.svg
Due: none

fix(icon): equalize Android icon margins
  icons/file_type_android.svg
Due: none

fix(icon): preserve Binary Ninja artwork
  icons/file_type_binary_ninja.svg
Due: none

fix(icon): preserve IDA Pro artwork
  icons/file_type_ida.svg
Due: none

feat(icon): add Rstack icons
  icons/file_type_rspack.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): use Android official vector artwork
  icons/file_type_android.svg
Due: none

fix(icon): use the official LSPosed vector mark
  icons/file_type_xposed.svg
Due: none

fix(icon): remove local path from IDA source note
  icons/file_type_ida.svg
Due: none

fix(icon): preserve IDA aspect ratio
  icons/file_type_ida.svg
Due: none

chore(icon): optimize Rspack SVG below 2 KB
  icons/file_type_rspack.svg
Due: none

fix(icon): preserve high-detail IDA artwork
  icons/file_type_ida.svg
Due: none

feat(icon): add uvue icon (#4251)
  icons/file_type_uvue.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): align Android artwork with folder icon
  icons/file_type_android.svg
Due: none

feat(icon): add golangci icon
  icons/file_type_golangci.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Update tsconfig.json
  tsconfig.json
Due: none

feat: update logo by retracing from the PNG
  icons/file_type_rector.svg
Due: none

feat(icon): add Rector icon (#4254)
  icons/file_type_rector.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

🐛 TS Config now includes types and libs for TS 6.0 (#4250)
  tsconfig.json
Due: none

feat(icon): add new MongoDB icons and update supported extensions
  icons/file_type_light_mongo.svg
  icons/file_type_mongo.svg
  icons/folder_type_mongodb.svg
  icons/folder_type_mongodb_opened.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add Rstack icons (#4252)
  icons/file_type_rspack.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support remaining Jinja language IDs
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

feat: add jinja2 and j2 as known extension
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts
