Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

.lintstagedrc:

{
  "src/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts"
  ],
  "test/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts --fix"
  ]
}

feat(icon): add wdio icon
  icons/file_type_wdio.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): taskfile icon support
  icons/file_type_taskfile.svg
  test/fixtures/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts --fix

feat(notebooks): support jupyter notebooks folder
  icons/folder_type_notebooks.svg
  icons/folder_type_notebooks_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Add "notebook" extension to the list
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

fix(assembly): added common files and new language ids
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(assembly): added common files and new language ids (#3249)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fixes protobuf logo
  icons/file_type_protobuf.svg
Due: none

New translations lang.nls.json (Russian)
  locale/lang/lang.nls.ru.json
Due: none

adds buf icon
  icons/file_type.buf.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add snaplet icon
  icons/file_type_snaplet.svg
  icons/folder_type_snaplet.svg
  icons/folder_type_snaplet_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

add light variants
  icons/file_type_light_snaplet.svg
  icons/folder_type_light_snaplet.svg
  icons/folder_type_light_snaplet_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Add support for Sino lang
  icons/file_type_sino.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

Adding webpack icon support for `webpack.local` files.
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add unocss icon
  icons/file_type_unocss.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fixed icon
  icons/file_type_unocss.svg
Due: none

feat(icon): add unocss icon (#3268)
  icons/file_type_unocss.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

optimized icon
  icons/file_type_sino.svg
Due: none

Adding webpack icon support for `webpack.local` files. (#3266)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): Add support for Sino lang (#3262)
  icons/file_type_sino.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

updated icon according to guidelines
  icons/folder_type_notebooks.svg
  icons/folder_type_notebooks_opened.svg
Due: none

feat(notebooks): support jupyter notebooks folder (#3245)
  icons/folder_type_notebooks.svg
  icons/folder_type_notebooks_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

updated icon
  icons/file_type_glyphs.svg
Due: none

refactor(icon): update glyphs icon (#3226)
  icons/file_type_glyphs.svg
Due: none

feat(angular): add routes.ts as extension for routing icon (#3180)
  src/iconsManifest/supportedExtensions.ts
  test/fixtures/supportedExtensions.ts
  test/iconsManifest/customsMerger/fileExtensions.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

optimized icon
  icons/file_type_tamagui.svg
Due: none

format fix
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): tamagui icon support (#3234)
  icons/file_type_tamagui.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

optimize icon to 11kb
  icons/file_type_wdio.svg
Due: none

fixed syntax
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix format
  test/fixtures/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts --fix

optimize icon
  icons/file_type_taskfile.svg
Due: none

feat(kotlin): support for new ids and extensions
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Support for Taskfile (#3244)
  icons/file_type_taskfile.svg
  test/fixtures/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts --fix

feat(kotlin): support for new ids and extensions (#3269)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fixed icons
  icons/file_type_light_tree.svg
  icons/file_type_tree.svg
Due: none

fix(tree): rework icon (#3239)
  icons/file_type_light_tree.svg
  icons/file_type_tree.svg
Due: none

feat(spin): support for spin.toml
  icons/file_type_light_spin.svg
  icons/file_type_spin.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(spin): support for spin.toml (#3270)
  icons/file_type_light_spin.svg
  icons/file_type_spin.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(grain): support for grain
  icons/file_type_grain.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(grain): support for grain (#3271)
  icons/file_type_grain.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts
