Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

runs formatter
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(wit): support for wit and wai
  icons/file_type_wit.svg
  icons/folder_type_wit.svg
  icons/folder_type_wit_opened.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

chore(next): prepare next release
  package-lock.json
  package.json
Due: none

feat(wit): support for wit and wai (#3272)
  icons/file_type_wit.svg
  icons/folder_type_wit.svg
  icons/folder_type_wit_opened.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

test(msg): better message for file tests
  test/iconsManifest/specsExtensions.test.ts
Due: prettier --write, eslint . --ext .ts --fix

test(msg): better message for file tests (#3273)
  test/iconsManifest/specsExtensions.test.ts
Due: prettier --write, eslint . --ext .ts --fix

feat(icon): add vercel folder support
  icons/file_type_vercel.svg
  icons/folder_type_vercel.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

fixes file name
  icons/file_type_buf.svg
Due: none

fix(icon): fix config for vscode-insiders icon
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(dotenv) add dotENV icon
  icons/file_type_dotenv.svg
  icons/file_type_light_dotenv.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

only use the white variant
  icons/file_type_light_snaplet.svg
  icons/file_type_snaplet.svg
  icons/folder_type_light_snaplet.svg
  icons/folder_type_light_snaplet_opened.svg
  icons/folder_type_snaplet.svg
  icons/folder_type_snaplet_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add Snaplet icon (#3260)
  icons/file_type_snaplet.svg
  icons/folder_type_snaplet.svg
  icons/folder_type_snaplet_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Update supportedExtensions.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(changesets): add changeset folder icon
  icons/folder_type_changesets.svg
  icons/folder_type_changesets_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Update icon
  icons/file_type_dotenv.svg
  icons/file_type_light_dotenv.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(dotenv) add dotENV icon (#3274)
  icons/file_type_dotenv.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(folders): provide an icon for an `apps` folder
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

(new) Add a colour-shifted icon for OCaml .mli
  icons/file_type_ocaml_intf.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

(- re) Slightly brighten
  icons/file_type_ocaml_intf.svg
Due: none

feat(mermaid): add mermaid icon
  icons/file_type_mermaid.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

Add tintin icons
  icons/file_type_tintin.svg
Due: none

Update Netlify icon
  icons/file_type_light_netlify.svg
  icons/file_type_netlify.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

optimized and fixed
  icons/file_type_buf.svg
Due: none

feat(changesets): add changeset folder icon (#3275)
  icons/folder_type_changesets.svg
  icons/folder_type_changesets_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

changed name
  icons/file_type_ocaml_intf.svg
Due: none

fix(protobuf) use correct Protobuf icon, adds Buf (#3251)
  icons/file_type_buf.svg
  icons/file_type_protobuf.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

Add a colour-shifted icon for OCaml .mli (#3279)
  icons/file_type_ocaml_intf.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fixed icon
  icons/file_type_mermaid.svg
Due: none

Update Netlify icon (#3283)
  icons/file_type_light_netlify.svg
  icons/file_type_netlify.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix format
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(mermaid): add mermaid icon (#3280)
  icons/file_type_mermaid.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(apps): use the same icon as for `app` (#3278)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

chore(version): bump to 12.4.0
  package-lock.json
  package.json
Due: none

chore(version): bump to 12.4.0 (#3284)
  package-lock.json
  package.json
Due: none

feat(icon): support for .code-snippet and .code-workspace extensions (#3229)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(json schema): support for for JSON schema
  icons/file_type_json_schema.svg
  icons/file_type_light_json_schema.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(publiccode): support publiccode.yml
  icons/file_type_publiccode.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add a few extra tsconfig paths
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): rename light icon and add opened folder
  icons/file_type_light_vercel.svg
  icons/folder_type_vercel_opened.svg
Due: none

feat(icon): .taurignore icon support
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
