Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, eslint --fix

feat : add support of .hypr & .hypr.live files (#2641)
  icons/file_type_hypr.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add COPYING filename associations to license icon (#2643)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Tiltfile (#2649)
  icons/file_type_tiltfile.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add support for py.typed (#2650)
  icons/file_type_pytyped.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Unlicense (#2651)
  icons/file_type_unlicense.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

apply only to jest.config.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

jest.config.ts configuration file in Typescript (#2657)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Make MDX a code language (#2661)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Differentiate "unlicence" spelling variant
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Differentiate "unlicence" spelling variant (#2674)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add icon for Gulpfile.mjs (#2665)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for TypeDoc (#2669)
  icons/file_type_typedoc.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

chore(11.1.0): prepare new release
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix audit
  package-lock.json
Due: none

chore(11.1.0): prepare new release (#2675)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(jinja): support for better jinja language ids
  src/iconsManifest/languages.ts
Due: prettier --write, eslint

fix(cfm): add more language ids
  src/iconsManifest/languages.ts
Due: prettier --write, eslint

feat(api): add plural forms to api folder
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

Jest common/shared configuration file.
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

fix(cfm): add more language ids (#2678)
  src/iconsManifest/languages.ts
Due: prettier --write, eslint

Update Rust icon
  icons/file_type_rust.svg
Due: none

Update Imba Icon
  icons/file_type_imba.svg
Due: none

add extension name
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for CASC
  icons/file_type_casc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Update file_type_imba.svg
  icons/file_type_imba.svg
Due: none

add mdx storybook file support
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Gitpod config file
  icons/file_type_gitpod.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

add more extension to stylelint
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

Tests: Any Angular module can have routing
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Source: Any Angular module can have routing
  test/fixtures/supportedExtensions.ts
Due: prettier --write, eslint --fix

Add support for Vite
  icons/file_type_vite.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Bicep
  icons/file_type_bicep.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add support for Husky folder
  icons/folder_type_husky.svg
  icons/folder_type_husky_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

add sparql icon
  icons/file_type_sparql.svg
Due: none

add sparql to language collection
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

add sparql to supported extensions
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

add sparql with extension rq to languages
  src/iconsManifest/languages.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint: any of: src/**/*.ts
  eslint --fix: any of: test/**/*.ts
