Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, tslint --fix

Use webpack config typescript file (#2311)
  .vscode/settings.json
  package-lock.json
  package.json
  webpack.config.js
  webpack.config.ts
Due: none

add support for electron-forge (#2314)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Remove perl camel light version
  icons/file_type_light_perl.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Add support for Lex and Yacc
  icons/file_type_lex.svg
  icons/file_type_yacc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Added babel & gulp ESM files
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Add support for Lex and Yacc (#2318)
  icons/file_type_lex.svg
  icons/file_type_yacc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Added babel & gulp ESM files (#2319)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

chore(release): prepare 9.7.0
  CHANGELOG.md
Due: none

Add support for Wenyan Lang
  icons/file_type_wenyan.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

fix release date
  CHANGELOG.md
Due: none

chore(release): prepare 9.7.0 (#2320)
  CHANGELOG.md
Due: none

chore(release): update version
  package-lock.json
  package.json
Due: none

chore(release): update version (#2322)
  package-lock.json
  package.json
Due: none

Fix wenyan icon size according to guidelines
  icons/file_type_wenyan.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Added support for expo config and generated folders
  icons/file_type_expo.svg
  icons/file_type_light_expo.svg
  icons/folder_type_expo.svg
  icons/folder_type_expo_opened.svg
  icons/folder_type_light_expo.svg
  icons/folder_type_light_expo_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

support mjs/cjs config file extension for eslint
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Resize expo icons according to guidelines
  icons/file_type_expo.svg
  icons/file_type_light_expo.svg
  icons/folder_type_expo.svg
  icons/folder_type_expo_opened.svg
  icons/folder_type_light_expo.svg
  icons/folder_type_light_expo_opened.svg
Due: none

Associate actionscript icon with corresponding ID
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Update actionscript language entry to match new ID
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

feat: add cjs and mjs support for babel
  src/iconsManifest/supportedExtensions.ts
  test/fixtures/supportedExtensions.ts
Due: prettier --write, tslint, tslint --fix

Fix typo in CHANGELOG.md
  CHANGELOG.md
Due: none

Replace actionscript language id
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Refactor babel extension into globs
  src/iconsManifest/supportedExtensions.ts
  test/fixtures/supportedExtensions.ts
Due: prettier --write, tslint, tslint --fix

Singular name for helper, model and service folder
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

Add support for tsconfig server file
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Add support for tsconfig server file (#2338)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Replace actionscript language id (#2336)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Fix typo in CHANGELOG.md (#2335)
  CHANGELOG.md
Due: none

Add support of cloudfoundry-manifest language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Added extensions to icon model
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

feat: add mjs cjs config file for jest
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Add support for SAS
  icons/file_type_sas.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add kitchen.yml as a Test Kitchen file
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Extend folder icons with plural "libs"
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

added suppport '.libs' and 'libraries'
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

Fix 'tox' file association
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Fixes 'husky' with 'nvm' and 'Gitkraken'
  .huskyrc
  .huskyrc.json
  .vscode/settings.json
Due: none

Add support for zipx extension
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Add support for zipx extension (#2369)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  tslint: any of: src/**/*.ts
  tslint --fix: any of: test/**/*.ts
