Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

New translations lang.nls.json (French)
  locale/lang/lang.nls.fr.json
Due: none

New translations lang.nls.json (Spanish)
  locale/lang/lang.nls.es.json
Due: none

New translations lang.nls.json (German)
  locale/lang/lang.nls.de.json
Due: none

New translations lang.nls.json (Greek)
  locale/lang/lang.nls.el.json
Due: none

New translations lang.nls.json (Italian)
  locale/lang/lang.nls.it.json
Due: none

New translations lang.nls.json (Japanese)
  locale/lang/lang.nls.ja.json
Due: none

New translations lang.nls.json (Russian)
  locale/lang/lang.nls.ru.json
Due: none

New translations lang.nls.json (Turkish)
  locale/lang/lang.nls.tr.json
Due: none

New translations lang.nls.json (Chinese Simplified)
  locale/lang/lang.nls.zh-cn.json
Due: none

New translations lang.nls.json (Portuguese, Brazilian)
  locale/lang/lang.nls.pt-br.json
Due: none

feat: syncpack icon
  icons/file_type_syncpack.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add the changie icon
  icons/file_type_changie.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(vscode): trim svg newlines
  .vscode/settings.json
Due: none

feat(icon): support the taskfile icon
  src/iconsManifest/supportedExtensions.ts
  test/fixtures/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

feat(icon): add pixi icon
  icons/file_type_pixi.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

optimize size
  icons/file_type_pixi.svg
Due: none

fix: syncpack svg icon file size
  icons/file_type_syncpack.svg
Due: none

fix: remove filenamesGlob and extensionsGlob for syncpack
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): syncpack icon (#3707)
  icons/file_type_syncpack.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

ci(images): check icons in different backgrounds
  .github/workflows/svg-icon-check.yml
Due: none

ci(images): check icons in different backgrounds (#3712)
  .github/workflows/svg-icon-check.yml
Due: none

ci(icons): add the size of the icons in the preview comment
  .github/workflows/svg-icon-check.yml
Due: none

ci(icons): add the size of the icons in the preview comment (#3713)
  .github/workflows/svg-icon-check.yml
Due: none

ci(icons): add token
  .github/workflows/svg-icon-check.yml
Due: none

ci(icon): new token
  .github/workflows/svg-icon-check.yml
Due: none

ci(icons): use target
  .github/workflows/svg-icon-check.yml
Due: none

feat: add support for `svelte` extensions with Storybook
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add support for `svelte` extensions with Storybook (#3714)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the taskfile icon (#3710)
  src/iconsManifest/supportedExtensions.ts
  test/fixtures/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

chore(vscode): trim svg newlines (#3709)
  .vscode/settings.json
Due: none

feat(icon): add the changie icon (#3708)
  icons/file_type_changie.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

New translations package.nls.json (French)
  locale/package/package.nls.fr.json
Due: none

New translations package.nls.json (Spanish)
  locale/package/package.nls.es.json
Due: none

New translations package.nls.json (German)
  locale/package/package.nls.de.json
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
