Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

.lintstagedrc:

{
  "src/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts"
  ],
  "test/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts --fix"
  ]
}

chore: better file name
  icons/file-type-sapphire-framework-cli.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore: whoops
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Rename file-type-sapphire-framework-cli.svg to file_type_sapphire_framework_cli.svg
  icons/file_type_sapphire_framework_cli.svg
Due: none

fix: icon name of sapphire framework cli
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support more extensions @sapphire/framework cli
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix order
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore: fix typo
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

icon rework
  icons/file_type_sapphire_framework_cli.svg
Due: none

fixed icons
  icons/file_type_eleventy.svg
  icons/file_type_eleventy2.svg
  icons/file_type_light_eleventy.svg
  icons/file_type_light_eleventy2.svg
Due: none

ci(release): fix pipeline
  .github/workflows/publish.yaml
Due: none

fix(badges): update readme badges (#3218)
  README.md
  package-lock.json
  package.json
Due: none

feat(deno): support for deno.lock (#3219)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(bazel): support for .bazelversion & .bazelignore (#3220)
  icons/file_type_bazel_ignore.svg
  icons/file_type_bazel_version.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(tree): support for .tree extension (#3221)
  icons/file_type_light_tree.svg
  icons/file_type_tree.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add support for mondoo policies (#3191)
  icons/file_type_mondoo.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add Rome icon (#3177)
  icons/file_type_light_rome.svg
  icons/file_type_rome.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add @sapphire/framework cli icon (#3175)
  icons/file_type_sapphire_framework_cli.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add eleventy icon (#2998)
  icons/file_type_eleventy.svg
  icons/file_type_eleventy2.svg
  icons/file_type_light_eleventy.svg
  icons/file_type_light_eleventy2.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: update .vbproj
  icons/file_type_vbproj.svg
Due: none

feat: update `.vcxproj`
  icons/file_type_vcxproj.svg
Due: none

fix: align and scale `.vbproj`
  icons/file_type_vbproj.svg
Due: none

fix: align and scale `.vcxproj`
  icons/file_type_vcxproj.svg
Due: none

feat: update `.csproj`
  icons/file_type_csproj.svg
Due: none

feat: update `.fsproj`
  icons/file_type_fsproj.svg
Due: none

feat: update `.njsproj`
  icons/file_type_njsproj.svg
Due: none

feat: update `.sln`
  icons/file_type_sln.svg
Due: none

feat: update folder `vs`
  icons/folder_type_vs.svg
  icons/folder_type_vs_opened.svg
Due: none

feat(angular): add routes.ts as extension for routing icon
  src/iconsManifest/supportedExtensions.ts
  test/fixtures/supportedExtensions.ts
  test/iconsManifest/customsMerger/fileExtensions.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

refactor(icon): update glyphs icon
  icons/file_type_glyphs.svg
Due: none

feat(icon): support for .code-workspace extension
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): tamagui icon support
  icons/file_type_tamagui.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: move extensions to extensionsGlob
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore: fix tests
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add support for .code-snippets extension
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Update
  icons/file_type_denoify.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Update file_type_denoify.svg
  icons/file_type_denoify.svg
Due: none

fix(formatting): ensure proper indentation for `denoify`
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(jsx): update jsx to framework-agnostic logo
  icons/file_type_jsx.svg
  icons/file_type_reactjs.svg
  icons/file_type_reactts.svg
  icons/file_type_tsx.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(tree): rework icon
  icons/file_type_light_tree.svg
  icons/file_type_tree.svg
Due: none

Support for PHP-CS-Fixer(3.x) config file.
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts
