Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, tslint --fix

.lintstagedrc:

{
  "src/**/*.ts": ["prettier --write", "tslint", "git add"],
  "test/**/*.ts": ["prettier --write", "tslint --fix", "git add"]
}

Add support for Ninja
  icons/file_type_ninja.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Add support for Janet
  icons/file_type_janet.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for Ada
  icons/file_type_ada.svg
  icons/file_type_light_ada.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for Wendi
  icons/file_type_wendi.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for ATS (#2187)
  icons/file_type_ats.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for Informix 4GL (#2190)
  icons/file_type_informix.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

New Crowdin translations (#2191)
  locale/lang/lang.nls.tr.json
Due: none

Add support for Ninja (#2193)
  icons/file_type_ninja.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Add support for Janet (#2196)
  icons/file_type_janet.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for Ada (#2197)
  icons/file_type_ada.svg
  icons/file_type_light_ada.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for PlatformIO (#2188)
  icons/file_type_platformio.svg
  icons/folder_type_platformio.svg
  icons/folder_type_platformio_opened.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

add affectscript language icon
  icons/file_type_affectscript.svg
Due: none

add support for affectscript language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

change affectscript icon title in svg title tag
  icons/file_type_affectscript.svg
Due: none

Fix white 'bleeding' on Storybook icon
  icons/file_type_storybook.svg
Due: none

Fix storybook icon according to guidelines
  icons/file_type_storybook.svg
Due: none

Add support for Pine Script
  icons/file_type_pine.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for Befunge93 and Befunge98
  icons/file_type_befunge.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for affectscript language (#2203)
  icons/file_type_affectscript.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Fix white 'bleeding' on Storybook icon (#2204)
  icons/file_type_storybook.svg
Due: none

Add support for Pine Script (#2208)
  icons/file_type_pine.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for Befunge93 and Befunge98 (#2209)
  icons/file_type_befunge.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

style(json): use colors from similar logos (JS & include)
  icons/folder_type_json.svg
  icons/folder_type_json_official.svg
  icons/folder_type_json_official_opened.svg
  icons/folder_type_json_opened.svg
Due: none

chore(release): prepare 9.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add support for Json folder (#2189)
  icons/folder_type_json.svg
  icons/folder_type_json_official.svg
  icons/folder_type_json_official_opened.svg
  icons/folder_type_json_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

chore(release): prepare 9.3.0 (#2211)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Fix typo for lang.nls.tr.json
  locale/lang/lang.nls.tr.json
Due: none

New translations lang.nls.json (Turkish)
  locale/lang/lang.nls.tr.json
Due: none

New translations package.nls.json (Turkish)
  locale/package/package.nls.tr.json
Due: none

New translations lang.nls.json (Greek)
  locale/lang/lang.nls.el.json
Due: none

New translations package.nls.json (Greek)
  locale/package/package.nls.el.json
Due: none

Adjust related test case
  test/common/bundler.test.ts
Due: prettier --write, tslint --fix

Update Laravel logo
  icons/file_type_blade.svg
Due: none

Apply proper formatting according to guidelines
  icons/file_type_blade.svg
Due: none

Add support for Vue config
  icons/file_type_vueconfig.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

New Crowdin translations (#2214)
  locale/lang/lang.nls.el.json
  locale/lang/lang.nls.tr.json
  locale/package/package.nls.el.json
  locale/package/package.nls.tr.json
  test/common/bundler.test.ts
Due: prettier --write, tslint --fix
