Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

feat(sublime-project): add sublime-project icon (#3360)
  icons/file_type_sublime.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(uiua): add Uiua icon (#3358)
  icons/file_type_uiua.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add WDIO icon (#3355)
  icons/file_type_wdio.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add svelte kit icons (#3343)
  icons/file_type_svelteconfig.svg
  icons/folder_type_svelte.svg
  icons/folder_type_svelte_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Include wiki page icons list generation in workflow (#3330)
  .github/workflows/wpil.yml
Due: none

Update supportedFolders.ts (#3351)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): update turbo icon and add turbo folder icon (#3344)
  icons/file_type_light_turbo.svg
  icons/file_type_turbo.svg
  icons/folder_type_turbo.svg
  icons/folder_type_turbo_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Add icon for .tsbuildinfo files (#3331)
  icons/file_type_tsbuildinfo.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon):add biome icon (#3349)
  icons/file_type_biome.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(version): bump to 12.6.0
  package-lock.json
  package.json
Due: none

chore(version): bump to 12.6.0 (#3366)
  package-lock.json
  package.json
Due: none

new icon
  icons/file_type_vscode_test.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

test icon
  icons/file_type_vscode_test.svg
Due: none

darker
  icons/file_type_vscode_test.svg
Due: none

fix(package-lock): revert fixes in package-log.json
  package-lock.json
Due: none

fix mocha
  package.json
Due: none

feat(vscode-test): add vscode-test support (#3361)
  icons/file_type_vscode_test.svg
  package-lock.json
  package.json
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(bruno): add bruno icon
  icons/file_type_bruno.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

optimize bruno svg
  icons/file_type_bruno.svg
Due: none

feat(icon): add icon for Debian files
  icons/file_type_debian.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the drawio language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the dockercompose language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the editorconfig language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the browserslist language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the sass language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the po language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the jsonl language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/nativeLanguageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add icon for the mdx-components file
  icons/file_type_light_mdx-components.svg
  icons/file_type_mdx-components.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the csv language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/nativeLanguageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the svg language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the org language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the yarnlock language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/nativeLanguageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the sln language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the snippets language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

refactor(icon): update the astro icon
  icons/file_type_astro.svg
  icons/file_type_astroconfig.svg
  icons/file_type_light_astro.svg
  icons/file_type_light_astroconfig.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the excel language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support .XCompose files
  icons/file_type_light_xorg.svg
  icons/file_type_xorg.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support .python-version
  icons/file_type_pyenv.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add support for docker-compose.debug
  src/iconsManifest/supportedExtensions.ts
  test/fixtures/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

feat(icon): add excalidraw icon
  icons/file_type_excalidraw.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
