Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

fix: typo fix in utils.test.ts (#3139)
  test/utils/utils.test.ts
Due: prettier --write, eslint . --ext .ts --fix

fix: margins
  icons/file_type_wally.svg
Due: none

fix: margins
  icons/file_type_hashicorp.svg
  icons/file_type_light_hashicorp.svg
Due: none

fix: margins
  icons/file_type_motif.svg
Due: none

fix: image issues
  icons/file_type_gitlab.svg
  icons/folder_type_gitlab.svg
  icons/folder_type_gitlab_opened.svg
Due: none

fix: margins + downsize resolution
  icons/file_type_nuxt.svg
Due: none

add dark light versions
  icons/file_type_esphome.svg
  icons/file_type_light_esphome.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add wally icon (#3137)
  icons/file_type_wally.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add hashicorp icon (#3136)
  icons/file_type_hashicorp.svg
  icons/file_type_light_hashicorp.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add motif icon (#3135)
  icons/file_type_motif.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

optimized icon
  icons/file_type_cucumber.svg
Due: none

issue #3127 - adding the official Cucumber icon for Cucumber feature … (#3128)
  icons/file_type_cucumber.svg
Due: none

fix issues
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): Add .dal icon for AL Language (#3126)
  icons/file_type_al_dal.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(gitlab): switch to new icon (#3054)
  icons/file_type_gitlab.svg
  icons/folder_type_gitlab.svg
  icons/folder_type_gitlab_opened.svg
Due: none

Add .webpack to webpack folder extensions
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Add more extensions to jest icon
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

get rid of webpack changes
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Add webpack.build to webpack file extensions
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

added .webpack folder
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

refactor(nuxt): update to new design (#3000)
  icons/file_type_nuxt.svg
  icons/folder_type_nuxt.svg
  icons/folder_type_nuxt_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Add extension configs for [ tsconfig, jest, webpack, webpack-folder ] (#3112)
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

chore(version): bump to 11.18.0
  package-lock.json
  package.json
Due: none

chore(version): bump to 11.18.0 (#3142)
  package-lock.json
  package.json
Due: none

added makefile to gnu
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(gnu): rename gnu logo and add .ld files (#2981)
  icons/file_type_gnu.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fixed icon
  icons/file_type_poetry.svg
Due: none

feat(icon): add poetry icon (#3049)
  icons/file_type_poetry.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

remove languages
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

fix associations
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

optimize tscn
  icons/file_type_tscn.svg
Due: none

optimize tres
  icons/file_type_tres.svg
Due: none

optimize rest
  icons/file_type_gdscript.svg
  icons/file_type_godot.svg
Due: none

feat(icon): Add additional Godot icons (#3069)
  icons/file_type_gdscript.svg
  icons/file_type_godot.svg
  icons/file_type_tres.svg
  icons/file_type_tscn.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

chore(version): bump to v11.19.0
  package-lock.json
  package.json
Due: none

chore(version): bump to v11.19.0 (#3144)
  package-lock.json
  package.json
Due: none

feat(tools): add utilities to supported folder names
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(tools): add utilities to supported folder names (#3146)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

simplified the icon and reduced it to 3kb from 14kb
  icons/file_type_pythowo.svg
Due: none

prettier
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
