Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, tslint --fix

Fix 'tox' file association (#2367)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Extend folder icons with plural "libs" (#2360)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

Add kitchen.yml as a Test Kitchen file (#2349)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

feat: add mjs cjs config file for jest (#2346)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

support mjs/cjs config file extension for eslint (#2328)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Added support for Expo config and generated folders (#2327)
  icons/file_type_expo.svg
  icons/file_type_light_expo.svg
  icons/folder_type_expo.svg
  icons/folder_type_expo_opened.svg
  icons/folder_type_light_expo.svg
  icons/folder_type_light_expo_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

Add support for Wenyan Lang (#2321)
  icons/file_type_wenyan.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

feat: add cjs and mjs support for babel (#2334)
  src/iconsManifest/supportedExtensions.ts
  test/fixtures/supportedExtensions.ts
Due: prettier --write, tslint, tslint --fix

Add support for SAS (#2347)
  icons/file_type_sas.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support of cloudfoundry-manifest language (#2340)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Singular name for helper, model and service folder (#2337)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

Drop support for node v8
  .appveyor.yml
  .travis.yml
  README.md
  package-lock.json
  package.json
  src/models/i18n/languageResourceManager.ts
  test/utils/utils.test.ts
Due: prettier --write, tslint, tslint --fix

Provide outline to nuxt folder
  icons/folder_type_nuxt.svg
  icons/folder_type_nuxt_opened.svg
Due: none

Add support for Nuxt folder (#2298)
  icons/folder_type_nuxt.svg
  icons/folder_type_nuxt_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

Add light version of Perl camel (#2305)
  icons/file_type_perl.svg
Due: none

Drop support for node v8 (#2350)
  .appveyor.yml
  .travis.yml
  README.md
  package-lock.json
  package.json
  src/models/i18n/languageResourceManager.ts
  test/utils/utils.test.ts
Due: prettier --write, tslint, tslint --fix

Add support for Genstat
  icons/file_type_genstat.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for Genstat (#2370)
  icons/file_type_genstat.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for rust-toolchain
  icons/file_type_rust_toolchain.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

new version of the icon
  icons/file_type_rust_toolchain.svg
Due: none

Add support for rust-toolchain (#2371)
  icons/file_type_rust_toolchain.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

chore(release): prepare next release
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): prepare next release (#2373)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(travis): fix travis nodejs version
  .travis.yml
Due: none

fix(travis): fix travis nodejs version (#2374)
  .travis.yml
Due: none

Merge travis matrix and jobs
  .travis.yml
Due: none

Merge travis matrix and jobs (#2375)
  .travis.yml
Due: none

Fix dependencies
  .vscode/extensions.json
  greenkeeper.json
  package-lock.json
  package.json
Due: none

Correcting `travis` step declarations
  .travis.yml
Due: none

fix(dependencies): fix several issues with project's dependencies (#2376)
  .travis.yml
  .vscode/extensions.json
  greenkeeper.json
  package-lock.json
  package.json
Due: none

Fix to link correct pull request
  CHANGELOG.md
Due: none

Fix to link correct pull request (#2377)
  CHANGELOG.md
Due: none

Replace nim dark theme icon
  icons/file_type_light_nim.svg
  icons/file_type_nim.svg
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG.md (#2380)
  CHANGELOG.md
Due: none

Remove tslint dependency
  .eslintignore
  .eslintrc.json
  greenkeeper.json
  package-lock.json
  package.json
Due: none

Update supportedExtensions.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Fix uninstall script
  src/constants/index.ts
  src/iconsManifest/iconsGenerator.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  webpack.config.ts
Due: prettier --write, tslint, tslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  tslint: any of: src/**/*.ts
  tslint --fix: any of: test/**/*.ts
