Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, eslint --fix

.lintstagedrc:

{
  "src/**/*.ts": ["prettier --write", "eslint"],
  "test/**/*.ts": ["prettier --write", "eslint --fix"]
}

Add support for BlitzBasic (#2609)
  icons/file_type_blitzbasic.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

exported for screens
  icons/file_type_rego.svg
Due: none

Add support for Rego Policies (#2590)
  icons/file_type_rego.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

applied style rules
  icons/file_type_avif.svg
Due: none

2610: support for AVIF format (#2611)
  icons/file_type_avif.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Replace mjs and add json5
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for tuc
  icons/file_type_tuc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Support cjs/json5 config file extension for prettier (#2612)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

support cjs config file extension for rollup (#2603)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

update date
  CHANGELOG.md
Due: none

chore(10.3.0): prepare new release
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

update version and add new pr
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

add last pr
  CHANGELOG.md
Due: none

fix issues
  CHANGELOG.md
Due: none

chore(11.0.0): prepare new release (#2616)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: remove extra id on tuc lang definition
  icons/file_type_tuc.svg
  src/iconsManifest/languages.ts
Due: prettier --write, eslint

Extend icon suffix for cpp headers
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Ogone
  icons/file_type_ogone.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add Support for FaunaDB
  icons/file_type_fauna.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Update TSConfig with official alternative
  icons/file_type_tsconfig_official.svg
  src/iconsManifest/customsMerger.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/contributions/iconNames.ts
  test/iconsManifest/customsMerger/presets.test.ts
Due: prettier --write, eslint, eslint --fix

Add support for .snupkg files
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add icons for clean dart
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

Add clients extension
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

feat : add support of .hypr & .hypr.live files
  icons/file_type_hypr.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add COPYING filenames to license icon
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add COPYING.LESSER
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

fix: hypr icon according to guidelines and use language id
  icons/file_type_hypr.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add support for Tiltfile
  icons/file_type_tiltfile.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add support for py.typed
  icons/file_type_pytyped.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Unlicense
  icons/file_type_unlicense.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

jest.config.ts configuration file in Typescript
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Make MDX a code language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add icon for Gulpfile.mjs
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for TypeDoc
  icons/file_type_typedoc.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for tuc (#2620)
  icons/file_type_tuc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Extend icon suffix for cpp headers (#2621)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Ogone (#2628)
  icons/file_type_ogone.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add Support for FaunaDB (#2629)
  icons/file_type_fauna.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add support for .snupkg files (#2632)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add clients extension (#2638)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint
