Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, eslint --fix

New translations lang.nls.json (Russian)
  locale/lang/lang.nls.ru.json
Due: none

feat(xlsb): support for binary format
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat(xlsb): support for binary format (#2814)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat(rails): support for html.erb lang id
  src/iconsManifest/languages.ts
Due: prettier --write, eslint

feat(rails): support for html.erb lang id (#2815)
  src/iconsManifest/languages.ts
Due: prettier --write, eslint

chore(11.6.0): prepare next release
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix blank lines
  CHANGELOG.md
Due: none

add new one
  CHANGELOG.md
Due: none

html.erb
  CHANGELOG.md
Due: none

chore(11.6.0): prepare next release (#2813)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

modify bundling to make a web friendly version
  package-lock.json
  package.json
  src/app/extensionManager.ts
  src/constants/index.ts
  src/iconsManifest/iconsGenerator.ts
  test/app/extensionManager.test.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  webpack.config.ts
Due: prettier --write, eslint, eslint --fix

feat(helm): Use Helm icon for Chart.lock and Chart.yaml
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Process feedback for Helm chart files
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat(unified): add missing file extensions
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat(helm): Use Helm icon for Chart.lock and Chart.yaml (#2818)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat(unified): add missing file extensions (#2819)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Update languages.ts
  src/iconsManifest/languages.ts
Due: prettier --write, eslint

feat(dotenv): support for env language id (#2821)
  src/iconsManifest/languages.ts
Due: prettier --write, eslint

Update file_type_cpp.svg
  icons/file_type_cpp.svg
Due: none

feat(preact): add Preact icon
  icons/file_type_preact.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

fix(preact): fix config
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add the default cypress test folder
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

Update supportedFolders.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

Add .devcontainer.json to devcontainer
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add .devcontainer.json to devcontainer (#2829)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add the default cypress test folder (#2828)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

feat(preact): add Preact icon (#2827)
  icons/file_type_preact.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

chore: replace vsmarketplacebadge with shields
  README.md
Due: none

added current Fortran icon
  icons/file_type_fortran.svg
Due: none

Add launch config for launching in a web ext host
  .vscode/launch.json
Due: none

Replace usage of fs with FileSystemProvider
  package-lock.json
  package.json
  src/common/bundler.ts
  src/common/fsAsync.ts
  src/configuration/configManager.ts
  src/iconsManifest/iconsGenerator.ts
  src/iconsManifest/manifestBuilder.ts
  src/iconsManifest/manifestReader.ts
  src/pad/projectAutoDetectionManager.ts
  src/settings/settingsManager.ts
  src/utils/index.ts
  test/utils/utils.test.ts
Due: prettier --write, eslint, eslint --fix

Adds support for `FortranFixedForm`
  src/iconsManifest/languages.ts
Due: prettier --write, eslint

feat(icon): support for megalinter icon
  icons/file_type_megalinter.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat(yarn): add yarn folder
  icons/folder_type_yarn.svg
  icons/folder_type_yarn_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

feat: mjs config support for Next.js
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

feat(nextJS): mjs config support for Next.js (#2850)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Adds support for `FortranFixedForm` (#2840)
  src/iconsManifest/languages.ts
Due: prettier --write, eslint

feat(vanilla-extract): add vanilla extract icon
  icons/file_type_vanilla_extract.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

optimize icons
  icons/folder_type_yarn.svg
  icons/folder_type_yarn_opened.svg
Due: none

optimized icon
  icons/file_type_fortran.svg
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint: any of: src/**/*.ts
  eslint --fix: any of: test/**/*.ts
