Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, eslint --fix

Add support for `jest.config.babel.[js, cjs, mjs]`
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Update Nim file icon
  icons/file_type_light_nim.svg
  icons/file_type_nim.svg
Due: none

Add support for Nimble
  icons/file_type_light_nimble.svg
  icons/file_type_nimble.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Drop light nimble icon
  icons/file_type_light_nimble.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Sails
  icons/file_type_sails.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Fix eslint type-annotation-spacing error
  .eslintrc.json
Due: none

Remove tslint dependency (#2382)
  .eslintignore
  .eslintrc.json
  greenkeeper.json
  package-lock.json
  package.json
Due: none

Adjust codeclimate config to eslint
  .codeclimate.yml
Due: none

attempt 2
  .eslintignore
  .eslintrc.json
Due: none

attempt 3
  .eslintignore
Due: none

attempt 4
  .eslintrc
Due: none

attempt 5
  .codeclimate.yml
Due: none

attempt 6
  .eslintignore
  .eslintrc
  package-lock.json
  package.json
Due: none

Add support for GraphQL config
  icons/file_type_graphql_config.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Extend folder icons with 'deb' and trim trailing whitespace
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

Fix missing trailing comma
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

Add support for remote devcontainer icons
  icons/file_type_devcontainer.svg
  icons/folder_type_devcontainer.svg
  icons/folder_type_devcontainer_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

Add support for pnpm
  icons/file_type_light_pnpm.svg
  icons/file_type_pnpm.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for zenscript
  icons/file_type_zenscript.png
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add support for lnk
  icons/file_type_lnk.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Replace nim dark theme icon (#2384)
  icons/file_type_light_nim.svg
  icons/file_type_nim.svg
Due: none

Fix uninstall script (#2385)
  src/constants/index.ts
  src/iconsManifest/iconsGenerator.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  webpack.config.ts
Due: prettier --write, eslint, eslint --fix

Add support for `jest.config.babel.[js, cjs, mjs]` (#2386)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Sails (#2397)
  icons/file_type_sails.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Extend folder icons with 'deb' and trim trailing whitespace (#2418)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

Add support for remote devcontainer icons (#2425)
  icons/file_type_devcontainer.svg
  icons/folder_type_devcontainer.svg
  icons/folder_type_devcontainer_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

Add support for pnpm (#2426)
  icons/file_type_light_pnpm.svg
  icons/file_type_pnpm.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Nimble (#2389)
  icons/file_type_nimble.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add support for GraphQL config (#2409)
  icons/file_type_graphql_config.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Use only the chain for lnk icon
  icons/file_type_lnk.svg
Due: none

Set filename true to zenscript extension
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for API-Extractor
  icons/file_type_api_extractor.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for TestCafe
  icons/file_type_light_testcafe.svg
  icons/file_type_testcafe.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for lnk (#2428)
  icons/file_type_lnk.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for TestCafe (#2444)
  icons/file_type_light_testcafe.svg
  icons/file_type_testcafe.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for API-Extractor (#2443)
  icons/file_type_api_extractor.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Renovate / Add support for renovate.config.js
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint: any of: src/**/*.ts
  eslint --fix: any of: test/**/*.ts
