Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

feat(icon): add grok icon (#4200)
  icons/file_type_grok.svg
  icons/file_type_light_grok.svg
  icons/folder_type_grok.svg
  icons/folder_type_grok_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): extend dvc entry filename (#4191)
  icons/file_type_dvc.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: remove unused group in svg
  icons/file_type_changelogen.svg
Due: none

feat(icon): support logging and logger (#4168)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): extend buckbuild filename entry (#4194)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Rename oh_modules folder icon to ohpm
  icons/file_type_ohpm.svg
  icons/folder_type_oh_modules.svg
  icons/folder_type_oh_modules_opened.svg
  icons/folder_type_ohpm.svg
  icons/folder_type_ohpm_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Update OHPM icon set
  icons/file_type_ohpm.svg
  icons/folder_type_ohpm.svg
  icons/folder_type_ohpm_opened.svg
Due: none

Update OHPM folder icons
  icons/folder_type_ohpm.svg
  icons/folder_type_ohpm_opened.svg
Due: none

fix(bruno): use correct language ID
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

feat: add styleci icon
  icons/file_type_styleci.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: viewbox to 32
  icons/file_type_styleci.svg
Due: none

feat(icon): add styleci icon (#4215)
  icons/file_type_styleci.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add support for NAUX
  icons/file_type_naux.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add quarto icon
  icons/file_type_quarto.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Update subatom icons with revised designs
  icons/file_type_subatom.svg
  icons/folder_type_subatom.svg
  icons/folder_type_subatom_opened.svg
Due: none

feat: add checkov icon
  icons/file_type_checkov.svg
  icons/file_type_light_checkov.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Add files via upload
  icons/file_type_moniq.svg.svg
Due: none

Add support for 'moniq' icon configuration
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add quartoconfig support
  icons/file_type_quartoconfig.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add support for devprune
  icons/file_type_devprune.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Rename moniq icon file to match naming convention
  icons/file_type_moniq.svg
  icons/file_type_moniq.svg.svg
Due: none

Add .swift-version and .xcode-version file associations
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: expand nitro config file entry name
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: use different icon for light and dark theme
  icons/file_type_light_mise.svg
  icons/file_type_mise.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add nitro icon (#4176)
  icons/file_type_nitro.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Add .swift-version and .xcode-version file associations (#4224)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add werf icon
  icons/file_type_werf.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add prefect icon
  icons/file_type_light_prefect.svg
  icons/file_type_prefect.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: change icon color to #d2d2d2
  icons/file_type_prefect.svg
Due: none

fix(icon): align NAUX mark with official silhouette
  icons/file_type_naux.svg
Due: none

feat(icon): add fresh icon
  icons/file_type_fresh.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Add NXD Language support
  icons/file_type_nxd.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

👷Drop support for Node 18.
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .github/workflows/wpil.yml
Due: none

🐛 fix test suite by updating semver import in settingsManager file.
  test/settings/settingsManager.test.ts
Due: prettier --write, eslint . --ext .ts --fix

Update file_type_rspack.svg
  icons/file_type_rspack.svg
Due: none

feat(icon): add ocx folder icons
  icons/folder_type_light_ocx.svg
  icons/folder_type_light_ocx_opened.svg
  icons/folder_type_ocx.svg
  icons/folder_type_ocx_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add Binary Ninja database support
  icons/file_type_binary_ninja.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add IDA Pro database support
  icons/file_type_ida.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support Unity IL2CPP metadata files
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add Android package file support
  icons/file_type_android.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
