Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

.lintstagedrc:

{
  "src/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts"
  ],
  "test/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts --fix"
  ]
}

fix(defaults): allow to use bundled icons for default files/folders
  src/iconsManifest/manifestBuilder.ts
  src/models/extensions/defaultExtension.ts
  test/iconsManifest/manifestBuilder/files.test.ts
  test/iconsManifest/manifestBuilder/folders.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

fix(defaults): allow to use bundled icons for default files/folders (#3105)
  src/iconsManifest/manifestBuilder.ts
  src/models/extensions/defaultExtension.ts
  test/iconsManifest/manifestBuilder/files.test.ts
  test/iconsManifest/manifestBuilder/folders.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

feat(icon): mark brotli extension as archive file (#3100)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

optimized icon
  icons/file_type_pulumi.svg
Due: none

feat(icon): add pulumi icon (#3095)
  icons/file_type_pulumi.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): Add missing dependabot icon extension (#3091) (#3092)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

succint declaration
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add esbuild icon (#3057)
  icons/file_type_esbuild.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

no extensions
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: update vite and vitest extensions (#3075)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

use folders, not extensions
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

icon optimization
  icons/file_type_phpstan.svg
Due: none

feat(icon): add bot icon (#3061)
  icons/folder_type_bot.svg
  icons/folder_type_bot_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

optimized icons
  icons/folder_type_shared.svg
  icons/folder_type_shared_opened.svg
Due: none

fix broken icon
  icons/file_type_phpstan.svg
Due: none

optimized icons
  icons/file_type_deno.svg
  icons/file_type_light_deno.svg
Due: none

feat(icon): add shared folder icon (#3043)
  icons/folder_type_shared.svg
  icons/folder_type_shared_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add phpstan icon (#3042)
  icons/file_type_phpstan.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add deno icon (#3046)
  icons/file_type_deno.svg
  icons/file_type_light_deno.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

optimized icon
  icons/file_type_pm2.svg
Due: none

optimized icons
  icons/folder_type_common.svg
  icons/folder_type_common_opened.svg
Due: none

feat(icon): add pm2 icon (#3047)
  icons/file_type_pm2.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add common folder icon (#3044)
  icons/folder_type_common.svg
  icons/folder_type_common_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Add support for new tailwindcss language (#3064)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

optimized icons
  icons/file_type_light_nx.svg
  icons/file_type_nx.svg
Due: none

feat(icon): add nx icons (#3045)
  icons/file_type_light_nx.svg
  icons/file_type_nx.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(expo): add new eas metadata store icon
  icons/file_type_eas-metadata.svg
  icons/file_type_light_eas-metadata.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(version): version bump to 11.14.0
  package-lock.json
  package.json
Due: none

New translations lang.nls.json (Russian)
  locale/lang/lang.nls.ru.json
Due: none

optimized
  icons/file_type_wikitext.svg
Due: none

white
  icons/file_type_wikitext.svg
Due: none

feat(icon): add wikitext icon (#3055)
  icons/file_type_wikitext.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

optimized
  icons/file_type_cspell.svg
Due: none

feat(icon): add cspell icon (#3050)
  icons/file_type_cspell.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

optimized
  icons/file_type_lilypond.svg
Due: none

feat(icon): add lilypond icon (#3048)
  icons/file_type_lilypond.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

Fix spring boot properties file icons with language support (#3063)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

resize icons
  icons/file_type_eas-metadata.svg
  icons/file_type_light_eas-metadata.svg
Due: none

feat(icon): add eas metadata store config (#3059)
  icons/file_type_eas-metadata.svg
  icons/file_type_light_eas-metadata.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

filenames
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts
