Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

feat(icon): add gitignore language ID to git
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add gitignore language ID to git (#4075)
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support .eleventyignore
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add hurl icon
  icons/file_type_hurl.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: remove light property
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add hurl icon (#4077)
  icons/file_type_hurl.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add quokka icon
  icons/file_type_quokka.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add quokka icon (#4078)
  icons/file_type_quokka.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add Parcel icon
  icons/file_type_parcel.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support uv.toml
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add metro icon
  icons/file_type_metro.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add metro to filenamesGlob
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add lychee icon
  icons/file_type_lychee.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add meson options to meson
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add metro icon (#4083)
  icons/file_type_metro.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add lychee icon (#4084)
  icons/file_type_lychee.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add powerbi icon
  icons/file_type_powerbi.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: redraw path to ommit uneeded part
  icons/file_type_flowgorithm.svg
Due: none

Expanded frontend extensions
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

refactor(icon): move liquid to use language ID
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(icon): move liquid to use language ID (#4087)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Update icons/file_type_flowgorithm.svg
  icons/file_type_flowgorithm.svg
Due: none

feat(icon): add flowgorithm icon (#4072)
  icons/file_type_flowgorithm.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(icon): optimize svgs that have more than 1 line
  icons/file_type_al_dal.svg
  icons/file_type_allure.svg
  icons/file_type_cssmap.svg
  icons/file_type_duckdb.svg
  icons/file_type_fritzing.svg
  icons/file_type_goctl.svg
  icons/file_type_godot.svg
  icons/file_type_light_duckdb.svg
  icons/file_type_light_packship.svg
  icons/file_type_light_tm.svg
  icons/file_type_light_yaml.svg
  icons/file_type_ndst.svg
  icons/file_type_packship.svg
  icons/file_type_pipeline.svg
  icons/file_type_protobuf.svg
  icons/file_type_ripple.svg
  icons/file_type_tm.svg
  icons/file_type_tox.svg
  icons/file_type_tres.svg
  icons/file_type_tscn.svg
  icons/file_type_tsdown.svg
  icons/file_type_uiua.svg
  icons/file_type_unocss.svg
  icons/file_type_vbproj.svg
  icons/file_type_vcxproj.svg
  icons/file_type_vento.svg
  icons/file_type_vyper.svg
  icons/file_type_wdio.svg
  icons/file_type_wgsl.svg
  icons/file_type_xaml.svg
  icons/file_type_yaml.svg
  icons/folder_type_datadog.svg
  icons/folder_type_mediawiki.svg
  icons/folder_type_mediawiki_opened.svg
  icons/folder_type_zed.svg
  icons/folder_type_zed_opened.svg
Due: none

revert: goctl
  icons/file_type_goctl.svg
Due: none

feat(icon): add fleet icon
  icons/file_type_fleet.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add fleet icon (#4089)
  icons/file_type_fleet.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add wesl icon
  icons/file_type_light_wesl.svg
  icons/file_type_wesl.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add wesl icon (#4092)
  icons/file_type_light_wesl.svg
  icons/file_type_wesl.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(npm): disallow lifecycle scripts
  package.json
Due: none

fix(icon): remove duplicate postgresql icon
  icons/file_type_postgres.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): remove duplicate postgresql icon (#4093)
  icons/file_type_postgres.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add zizmor icon
  icons/file_type_zizmor.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(typescript): update to TypeScript 6
  package-lock.json
  package.json
  test/i18n/i18nManager.test.ts
  test/index.test.ts
  test/index.ts
  test/services/compositionRoot.test.ts
  test/tools/build.test.ts
  test/tools/bundle.test.ts
  test/uninstall.test.ts
  tsconfig.json
Due: prettier --write, eslint . --ext .ts --fix

chore: fix ESLint issues
  test/app/extensionManager.test.ts
Due: prettier --write, eslint . --ext .ts --fix

chore: replace remaining proxyquire import
  test/utils/utils.test.ts
Due: prettier --write, eslint . --ext .ts --fix

chore: use default imports for os and path
  test/app/extensionManager.test.ts
  test/configuration/configManager.test.ts
  test/index.ts
  test/utils/utils.test.ts
Due: prettier --write, eslint . --ext .ts --fix

chore: fix json imports
  src/app/extensionManager.ts
  src/constants/index.ts
  src/i18n/languageResourceManager.ts
  src/iconsManifest/iconsGenerator.ts
  src/vscode/vscodeManager.ts
  test/app/extensionManager.test.ts
  test/app/specs.test.ts
  test/i18n/i18nManager.test.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  test/vscode/vscodeManager.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

feat(icon): add zizmor icon (#4098)
  icons/file_type_zizmor.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add context7 icon
  icons/file_type_context7.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
