Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, tslint --fix

.lintstagedrc:

{
  "src/**/*.ts": ["prettier --write", "tslint", "git add"],
  "test/**/*.ts": ["prettier --write", "tslint --fix", "git add"]
}

fix(vscode): use same version of the vscode engine to make vsce happy (#2164)
  CHANGELOG.md
  package.json
Due: none

Improve support for Sequelize
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Correct `vscode` engine version
  greenkeeper.json
  package-lock.json
  package.json
Due: none

Correct `vscode` engine version (#2168)
  greenkeeper.json
  package-lock.json
  package.json
Due: none

fixup!
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Update dependencies
  package-lock.json
  package.json
Due: none

Update file_type_nuxt.svg
  icons/file_type_nuxt.svg
Due: none

Update dependencies (#2171)
  package-lock.json
  package.json
Due: none

Improve support for Sequelize (#2166)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

fix icon according to our guidelines
  icons/file_type_nuxt.svg
Due: none

Update file_type_nuxt.svg (#2172)
  icons/file_type_nuxt.svg
Due: none

chore(release): prepare version 9.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): prepare version 9.1.0 (#2174)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): fix version number
  CHANGELOG.md
Due: none

chore(release): fix version number (#2175)
  CHANGELOG.md
Due: none

New translations lang.nls.json (Japanese)
  locale/lang/lang.nls.ja.json
Due: none

Fix directory creation on `windows`
  src/utils/index.ts
  test/utils/utils.test.ts
Due: prettier --write, tslint, tslint --fix

Fix test cases
  icons/file_type_light_prisma.svg
  icons/file_type_prisma_light.svg
  test/iconsManifest/specsExtensions.test.ts
Due: prettier --write, tslint --fix

Fix custom icons directory detection
  src/iconsManifest/manifestBuilder.ts
Due: prettier --write, tslint

Improve PAD logic
  src/app/extensionManager.ts
  src/configuration/configManager.ts
  src/iconsManifest/customsMerger.ts
  src/models/configuration/configManager.ts
  src/pad/projectAutoDetectionManager.ts
  test/app/extensionManager.test.ts
  test/configuration/configManager.test.ts
  test/pad/angularDetection.test.ts
  test/pad/nestjsDetection.test.ts
Due: prettier --write, tslint, tslint --fix

Fix directory creation on `windows` (#2173)
  src/utils/index.ts
  test/utils/utils.test.ts
Due: prettier --write, tslint, tslint --fix

New translations lang.nls.json (Japanese) (#2179)
  locale/lang/lang.nls.ja.json
Due: none

Fix test cases (#2181)
  icons/file_type_light_prisma.svg
  icons/file_type_prisma_light.svg
  test/iconsManifest/specsExtensions.test.ts
Due: prettier --write, tslint --fix

Fix custom icons directory detection (#2182)
  src/iconsManifest/manifestBuilder.ts
Due: prettier --write, tslint

Improve PAD logic (#2183)
  src/app/extensionManager.ts
  src/configuration/configManager.ts
  src/iconsManifest/customsMerger.ts
  src/models/configuration/configManager.ts
  src/pad/projectAutoDetectionManager.ts
  test/app/extensionManager.test.ts
  test/configuration/configManager.test.ts
  test/pad/angularDetection.test.ts
  test/pad/nestjsDetection.test.ts
Due: prettier --write, tslint, tslint --fix

chore(release): prepare 9.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Update lock file
  .gitmodules
  package-lock.json
Due: none

chore(release): prepare 9.2.0 (#2186)
  .gitmodules
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add support for ATS
  icons/file_type_ats.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for PlatformIO
  icons/file_type_platformio.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for Json folder
  icons/folder_type_json.svg
  icons/folder_type_json_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

Add support for Informix 4GL
  icons/file_type_informix.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

New translations lang.nls.json (Turkish)
  locale/lang/lang.nls.tr.json
Due: none

Add second version of json
  icons/folder_type_json.svg
  icons/folder_type_json_official.svg
  icons/folder_type_json_official_opened.svg
  icons/folder_type_json_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

Update informix icon with orange color
  icons/file_type_informix.svg
Due: none

Update platformio extensions array
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Add platfomio folder icon and fix eyes background
  icons/file_type_platformio.svg
  icons/folder_type_platformio.svg
  icons/folder_type_platformio_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint
