Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

support s-lang
  icons/file_type_s-lang.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

add jec rc
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): enable eslint.config.mjs and eslint.config.cjs
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add nextflow icon
  icons/file_type_nextflow.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

remove dot
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

add dot
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

testing
  .github/workflows/test.yml
Due: none

better message for failing extensions
  test/iconsManifest/specsExtensions.test.ts
Due: prettier --write, eslint . --ext .ts --fix

fix tiltignore
  .github/workflows/test.yml
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add nextflow icon (#3513)
  .github/workflows/test.yml
  icons/file_type_nextflow.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
  test/iconsManifest/specsExtensions.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

opt
  icons/file_type_s-lang.svg
Due: none

fix format
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

optimized icon
  icons/file_type_slint.svg
Due: none

feat(icon): enable eslint.config.mjs and eslint.config.cjs (#3510)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the S-Lang language (#3509)
  icons/file_type_s-lang.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

remove light
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

optimize icon
  icons/type_file_knip.svg
Due: none

optimized icon
  icons/file_type_biome.svg
Due: none

feat(icon): add icon for slint files (#3508)
  icons/file_type_slint.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

optimized icon
  icons/file_type_knip.svg
  icons/type_file_knip.svg
Due: none

remove globs
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

optimized icon
  icons/file_type_snakemake.svg
Due: none

feat(icon): update Biome logo (#3440)
  icons/file_type_biome.svg
Due: none

feat(icon): add support for knip files (#3507)
  icons/file_type_knip.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix issues
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add miva icons (#3410)
  icons/file_type_mivascript.svg
  icons/file_type_mvt.svg
  icons/file_type_mvtcss.svg
  icons/file_type_mvtjs.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): Add snakemake language icon (#3420)
  icons/file_type_snakemake.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add XO icon (#3504)
  icons/file_type_xo.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add the pyscript icon (#3491)
  icons/file_type_pyscript.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add icon for rnc files (#3489)
  icons/file_type_rnc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add icon for dtd files (#3488)
  icons/file_type_dtd.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support vitest-snapshot language (#3490)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

remove light icon
  icons/file_type_light_search_result.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add icons for libreoffice (#3400)
  icons/file_type_libreoffice_base.svg
  icons/file_type_libreoffice_calc.svg
  icons/file_type_libreoffice_draw.svg
  icons/file_type_libreoffice_impress.svg
  icons/file_type_libreoffice_math.svg
  icons/file_type_libreoffice_writer.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the zip language (#3426)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the java-properties language (#3423)
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the search-result language (#3425)
  icons/file_type_search_result.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add coverage icon (#3448)
  icons/file_type_coverage.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the raku language (#3443)
  icons/file_type_light_raku.svg
  icons/file_type_raku.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add the tmux icon (#3433)
  icons/file_type_light_tmux.svg
  icons/file_type_tmux.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
