Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

refactor(markdownlint): support more extensions (#3032)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix prolog
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(progress): prolog extension collided with progress openedge (#3062)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(version): bump to 11.15.0
  package-lock.json
  package.json
Due: none

feat(nix): support flake.lock
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

add tsconfig.base for tsconfig extensions
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Add more jest extensions to jest icon
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(icon): update renovate icon
  icons/file_type_renovate.svg
Due: none

feat(icon): add unison
  icons/file_type_unison.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): Add Truffle icon
  icons/file_type_truffle.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add e2e to jest extension/glob list
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add build extension for tsconfig
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Supporting .dal icon for AL Language
  icons/file_type_al_dal.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(icon): update renovate icon (#3114)
  icons/file_type_renovate.svg
Due: none

feat(icon): add unison (#3115)
  icons/file_type_unison.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

Improving AL Object ID Ninja (.objidconfig) icons (#3025)
  icons/file_type_light_objidconfig.svg
  icons/file_type_objidconfig.svg
Due: none

Add e2e extension to jest, add build extension to tsconfig (#3123)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

add missing comma
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): Add Truffle icon (#3122)
  icons/file_type_truffle.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(version): bump to 11.16.0
  package-lock.json
  package.json
Due: none

issue #3127 - adding the official Cucumber icon for Cucumber feature file to replace the unofficial icon
  icons/file_type_cucumber.svg
Due: none

feat(icon): add .lighthouserc cjs extension
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(sponsor): add extension sponsor url
  package.json
Due: none

chore(sponsor): add extension sponsor url (#3130)
  package.json
Due: none

feat(icon): support new eslint config system
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support new eslint config system (#3134)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icons): position & scaling
  icons/folder_type_nuxt.svg
  icons/folder_type_nuxt_opened.svg
Due: none

feat(icon): add motif icon
  icons/file_type_motif.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add hashicorp icon
  icons/file_type_hashicorp.svg
  icons/file_type_light_hashicorp.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add wally icon
  icons/file_type_wally.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add .lighthouserc cjs extension (#3129)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add WebGPU Shader Language (wgsl) icon
  icons/file_type_wgsl.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add WebGPU Shader Language (wgsl) icon (#2983)
  icons/file_type_wgsl.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add master-co icons (#2986)
  icons/file_type_master-co.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

make it a filename
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(nix): support flake.lock (#3110)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add icon for ".tree" files
  icons/tree_language_icon.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: tree extension
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(version): bump to 11.17.0
  package-lock.json
  package.json
Due: none

fix: typo fix in utils.test.ts
  test/utils/utils.test.ts
Due: prettier --write, eslint . --ext .ts --fix

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
