Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

fix: spacing
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Add folder icons for base linux distros
  icons/folder_type_alpine.svg
  icons/folder_type_alpine_opened.svg
  icons/folder_type_arch.svg
  icons/folder_type_arch_opened.svg
  icons/folder_type_fedora.svg
  icons/folder_type_fedora_opened.svg
  icons/folder_type_gentoo.svg
  icons/folder_type_gentoo_opened.svg
  icons/folder_type_light_alpine.svg
  icons/folder_type_light_alpine_opened.svg
  icons/folder_type_light_fedora.svg
  icons/folder_type_light_fedora_opened.svg
  icons/folder_type_redhat.svg
  icons/folder_type_redhat_opened.svg
  icons/folder_type_slackware.svg
  icons/folder_type_slackware_opened.svg
  icons/folder_type_suse.svg
  icons/folder_type_suse_opened.svg
  icons/folder_type_void.svg
  icons/folder_type_void_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Fix formatting
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Fix light version for Alpine
  icons/folder_type_light_alpine.svg
  icons/folder_type_light_alpine_opened.svg
Due: none

fix(icon): 使用 Binary Ninja 官方矢量标志
  icons/file_type_binary_ninja.svg
Due: none

fix(icon): 校正 IDA 图标边界并精简矢量路径
  icons/file_type_ida.svg
Due: none

style(manifest): 修正 Playwright 配置列表的缩进
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support Unity IL2CPP metadata files (#4243)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(icon): remove raster image from existing icon (#4271)
  icons/file_type_affectscript.svg
  icons/file_type_pdf.svg
Due: none

Update MongoDB Icons (#4256)
  icons/file_type_light_mongo.svg
  icons/file_type_mongo.svg
  icons/folder_type_mongodb.svg
  icons/folder_type_mongodb_opened.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add ocx folder icons (#4239)
  icons/folder_type_light_ocx.svg
  icons/folder_type_light_ocx_opened.svg
  icons/folder_type_ocx.svg
  icons/folder_type_ocx_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support cfg folder (#4159)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add auth folder icons (#4161)
  icons/folder_type_auth.svg
  icons/folder_type_auth_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add schema folder icons (#4144)
  icons/folder_type_schema.svg
  icons/folder_type_schema_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support translation and translations (#4158)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Add folder icons for base Linux distro's (#4272)
  icons/folder_type_alpine.svg
  icons/folder_type_alpine_opened.svg
  icons/folder_type_arch.svg
  icons/folder_type_arch_opened.svg
  icons/folder_type_fedora.svg
  icons/folder_type_fedora_opened.svg
  icons/folder_type_gentoo.svg
  icons/folder_type_gentoo_opened.svg
  icons/folder_type_light_alpine.svg
  icons/folder_type_light_alpine_opened.svg
  icons/folder_type_light_fedora.svg
  icons/folder_type_light_fedora_opened.svg
  icons/folder_type_redhat.svg
  icons/folder_type_redhat_opened.svg
  icons/folder_type_slackware.svg
  icons/folder_type_slackware_opened.svg
  icons/folder_type_suse.svg
  icons/folder_type_suse_opened.svg
  icons/folder_type_void.svg
  icons/folder_type_void_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add cadence icon (#4138)
  icons/file_type_cadence.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix icon
  icons/file_type_devprune.svg
Due: none

feat(icon): add support for devprune (#4223)
  icons/file_type_devprune.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

FIX : Handle swc/swf cache file
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

FIX : Handle as3&mxml settings file
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

FIX : Code review
  icons/file_type_mxml.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

FIX : Handle sub-type .part for as3&mxml
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

FIX : add missing extensions icon for mxml
  icons/file_type_mxml.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

FIX : add missing extensions icon for mxml (#4134)
  icons/file_type_mxml.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add changelogen icon (#4210)
  icons/file_type_changelogen.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add zsh icon (#4205)
  icons/file_type_zsh.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): use dist icon for output folder (#4187)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): 精简 IDA 肖像并清理描摹毛边
  icons/file_type_ida.svg
Due: none

refactor(icon): move mustache to use language ID (#4177)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add azure resource manager icon (#4163)
  icons/file_type_azureresourcemanager.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support devcontainer lockfile (#4143)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add moniq icon (#4221)
  icons/file_type_moniq.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): 恢复 LSPosed 标志的内部留白
  icons/file_type_xposed.svg
Due: none

feat(icon): add Proteus Design Suite file icon (#4026)
  icons/file_type_proteus.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(build): pin Node.js to 22.18.0 and bump vscode engine to 1.104.3
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .github/workflows/wpil.yml
  .nvmrc
  AGENTS.md
  package-lock.json
  package.json
Due: none

fix(icon): restore LSPosed logo padding (#4273)
  icons/file_type_xposed.svg
Due: none

feat(tests): update supported VSCode version to 1.104.3 in VSCodeManager tests
  test/vscode/vscodeManager.test.ts
Due: prettier --write, eslint . --ext .ts --fix

feat(icon): add TableGen file icon (#4213)
  icons/file_type_tablegen.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

ci: notify vscode-icons-zed on new release
  .github/workflows/publish.yml
Due: none

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
