Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

.lintstagedrc:

{
  "src/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts"
  ],
  "test/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts --fix"
  ]
}

feat(icon): add support for fastly.toml (#3689)
  icons/file_type_fastly.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support dunder for src, lib, and libs folders (#3688)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add the purgecss icon (#3687)
  icons/file_type_purgecss.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add icon for .cursorrules (#3686)
  icons/file_type_cursorrules.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(icon): update the next icon (#3685)
  icons/file_type_light_next.svg
  icons/file_type_next.svg
Due: none

feat(icon): treat the oracle-sql language ID as psql (#3684)
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add just icon (#3683)
  icons/file_type_just.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore: refactor linting setup (#3681)
  .eslintrc.json
  .github/workflows/test.yml
  .prettierignore
  package.json
Due: none

feat(icon): add netlify folder icon (#3682)
  icons/folder_type_netlify.svg
  icons/folder_type_netlify_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add the histoire icon (#3678)
  icons/file_type_histoire.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add codemagic icon (#3662)
  icons/file_type_codemagic.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support eleventy.config.mjs (#3666)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add the copilot icon (#3672)
  icons/file_type_copilot.svg
  icons/file_type_light_copilot.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add the mypy icon (#3673)
  icons/file_type_light_mypy.svg
  icons/file_type_mypy.svg
  icons/folder_type_light_mypy.svg
  icons/folder_type_light_mypy_opened.svg
  icons/folder_type_mypy.svg
  icons/folder_type_mypy_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add the pytest icon (#3674)
  icons/file_type_pytest.svg
  icons/folder_type_pytest.svg
  icons/folder_type_pytest_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add lark icon (#3675)
  icons/file_type_lark.svg
  icons/file_type_light_lark.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): use the fonts folder icon for webfonts (#3676)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add npmpackagejsonlint icon (#3677)
  icons/file_type_npmpackagejsonlint.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add the blender icon for blend files (#3660)
  icons/file_type_blender.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(gltf): add the gltf icon (#3659)
  icons/file_type_gltf.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(icon): update yaml icon (#3658)
  icons/file_type_light_yaml.svg
  icons/file_type_yaml.svg
Due: none

feat(icon): minify icons
  icons/file_type_seedkit.svg
  icons/folder_type_seedkit.svg
  icons/folder_type_seedkit_opened.svg
Due: none

feat(icon): add additional extensions for bak icon
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Support for Seedkit (#3695)
  icons/file_type_seedkit.svg
  icons/folder_type_seedkit.svg
  icons/folder_type_seedkit_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add bak icon (#3661)
  icons/file_type_bak.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add agda icon
  icons/file_type_agda.svg
  icons/file_type_light_agda.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(docusaurus): correct extensionsGlob to not include prefix dot (#3668)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add agda icon (#3663)
  icons/file_type_agda.svg
  icons/file_type_light_agda.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): update core folder icons with new styles and structure
  icons/folder_type_core.svg
  icons/folder_type_core_opened.svg
Due: none

feat(icon): update folder_type_core_opened icon color
  icons/folder_type_core_opened.svg
Due: none

chore(vresion): version bump to 12.11.0
  package-lock.json
  package.json
Due: none

chore(vresion): version bump to 12.11.0 (#3696)
  package-lock.json
  package.json
Due: none

feat(icon): add .argo-cd folder icon
  icons/folder_type_argo-cd.svg
  icons/folder_type_argo-cd_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

pr feedback - updated svgs
  icons/folder_type_argo-cd.svg
  icons/folder_type_argo-cd_opened.svg
Due: none

chore(deps): fix dependencies
  package-lock.json
Due: none

chore(nsri): remove integrity check
  .nsriignore
  .vscodeignore
  README.md
  package-lock.json
  package.json
  src/app/extensionManager.ts
  src/integrity/integrityManager.ts
  src/models/i18n/langResourceKeys.ts
  src/models/index.ts
  src/models/integrity/integrityManager.ts
  src/models/ioc/symbols.ts
  src/services/compositionRootService.ts
  test/app/actions.test.ts
  test/app/commands.test.ts
  test/app/eventListeners.test.ts
  test/app/extensionManager.test.ts
  test/app/messages.test.ts
  test/integrity/integrityManager.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

update langs
  locale/lang/lang.nls.de.json
  locale/lang/lang.nls.el.json
  locale/lang/lang.nls.es.json
  locale/lang/lang.nls.fr.json
  locale/lang/lang.nls.it.json
  locale/lang/lang.nls.ja.json
  locale/lang/lang.nls.json
  locale/lang/lang.nls.pt-br.json
  locale/lang/lang.nls.ru.json
  locale/lang/lang.nls.tr.json
  locale/lang/lang.nls.zh-cn.json
Due: none

remove not needed test
  test/app/extensionManager.test.ts
Due: prettier --write, eslint . --ext .ts --fix

add back removed lines
  src/app/extensionManager.ts
Due: prettier --write, eslint . --ext .ts

chore(nsri): remove integrity check (#3703)
  .nsriignore
  .vscodeignore
  README.md
  locale/lang/lang.nls.de.json
  locale/lang/lang.nls.el.json
  locale/lang/lang.nls.es.json
  locale/lang/lang.nls.fr.json
  locale/lang/lang.nls.it.json
  locale/lang/lang.nls.ja.json
  locale/lang/lang.nls.json
  locale/lang/lang.nls.pt-br.json
  locale/lang/lang.nls.ru.json
  locale/lang/lang.nls.tr.json
  locale/lang/lang.nls.zh-cn.json
  package-lock.json
  package.json
  src/app/extensionManager.ts
  src/integrity/integrityManager.ts
  src/models/i18n/langResourceKeys.ts
  src/models/index.ts
  src/models/integrity/integrityManager.ts
  src/models/ioc/symbols.ts
  src/services/compositionRootService.ts
  test/app/actions.test.ts
  test/app/commands.test.ts
  test/app/eventListeners.test.ts
  test/app/extensionManager.test.ts
  test/app/messages.test.ts
  test/integrity/integrityManager.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix
