Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

.lintstagedrc:

{
  "src/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts"
  ],
  "test/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts --fix"
  ]
}

ci: notify vscode-icons-zed on new release (#4275)
  .github/workflows/publish.yml
Due: none

fix(icon): inconsistent header icon of C and C++
  icons/file_type_cheader.svg
  icons/file_type_cppheader.svg
Due: none

feat(icon): add overmind icon
  icons/file_type_overmind.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(build): pin Node.js to 22.18.0 and bump vscode engine to 1.104.3 (#4274)
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .github/workflows/wpil.yml
  .nvmrc
  AGENTS.md
  package-lock.json
  package.json
  test/vscode/vscodeManager.test.ts
Due: prettier --write, eslint . --ext .ts --fix

feat(icon): add overmind icon (#4277)
  icons/file_type_overmind.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): inconsistent header icon of C and C++ (#4276)
  icons/file_type_cheader.svg
  icons/file_type_cppheader.svg
Due: none

Update README to reflect minimum supported vscode version
  README.md
Due: none

feat(icon): add Ghidra file icon
  icons/file_type_ghidra.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Update README to reflect minimum supported vscode version (#4278)
  README.md
Due: none

fix(docs): add missing html tag
  README.md
Due: none

fix(workflow): restrict publishing only to repo owner vscode-icons
  .github/workflows/publish.yml
Due: none

feat(icon): add kadence folder icon
  icons/folder_type_kadence.svg
  icons/folder_type_kadence_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

fix(config): Fix and cleanup settings
  .vscode/settings.json
Due: none

feat(dev): add support for development in container
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none

feat(icon): support `^\.?readthedocs.ya?ml$` for Read the Docs
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): remove txt extension from plaintext
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(folders): resolve hidden folder margin in a more concrete way
  src/iconsManifest/manifestBuilder.ts
  src/models/iconSchema/iconMapping.ts
  test/iconsManifest/manifestBuilder/folders.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

feat(icon): support `^\.?readthedocs.ya?ml$` for Read the Docs (#4286)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add a dedicated file icon for tasks.json
  icons/file_type_tasks_json.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

add support for .cdp files
  icons/file_type_cdp.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

enhance(dev): improve UX for extension web development
  .vscode/launch.json
  .vscode/tasks.json
  package-lock.json
  package.json
  webpack.config.ts
Due: none

chore(dev): restore pre-commit hooks functionality
  .husky/pre-commit
  .huskyrc
  package.json
Due: none

fix(config): Fix and cleanup settings (#4284)
  .vscode/settings.json
Due: none

fix(workflow): restrict publishing only to repo owner vscode-icons (#4283)
  .github/workflows/publish.yml
Due: none

fix(docs): add missing html tag (#4282)
  README.md
Due: none

chore(dev): move node types to minimum supported node
  package-lock.json
  package.json
Due: none

chore(dev): use `dependencies` instead of `prepare`
  package.json
Due: none

chore(dev): use `postinstall` instead of `dependencies`
  package.json
Due: none

feat(icon): restore `tasks.json` icon
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add dedicated icon for `zed`
  icons/file_type_light_zed.svg
  icons/file_type_zed.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): expand zed icon also for `debug.json`
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): restore vscode-insiders icon
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

updated icon as requested change
  icons/file_type_cdp.svg
Due: none

updated icons to strictly use 32x32 viewport.
  icons/file_type_cdp.svg
Due: none

chore(dev): use "prepare" instead of "postinstall"
  package.json
Due: none

enhance(dev): task doesn't need to run in background or watch mode
  .vscode/tasks.json
Due: none

fix(dev): fix debug test runner
  .vscode/tasks.json
  eslint.config.mjs
  package.json
  test/common/errorHandler.test.ts
  test/iconsManifest/customsMerger/presets.test.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  test/index.test.ts
  test/index.ts
Due: prettier --write, eslint . --ext .ts --fix
