Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

feat(icon): support .bun-version (#3993)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add orval.config icon (#3973)
  icons/file_type_orval.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): use nx icon for .nxignore (#3994)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add pixi files icon (#3995)
  icons/file_type_pixi.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add the brew icon (#4018)
  icons/file_type_brew.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add Ruff icon (#4016)
  icons/file_type_ruff.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix tests
  test/app/extensionManager.test.ts
Due: prettier --write, eslint . --ext .ts --fix

fix: sync welcome-shown state via Settings Sync (#4005)
  src/app/extensionManager.ts
  src/models/vscode/vscodeMemento.ts
  test/app/extensionManager.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

feat(icon): add new icons to datadog
  src/iconsManifest/supportedExtensions.ts
  test/iconsManifest/manifestBuilder/folders.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

fix format
  test/iconsManifest/manifestBuilder/folders.test.ts
Due: prettier --write, eslint . --ext .ts --fix

update version
  package-lock.json
  package.json
Due: none

feat(icon): add new icons to datadog (#4021)
  package-lock.json
  package.json
  src/iconsManifest/supportedExtensions.ts
  test/iconsManifest/manifestBuilder/folders.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

fix(zed): remove chevron_icons from zedIconSchema and defaultSchema
  src/models/iconSchema/zedIconSchema.ts
  src/models/iconsManifest/defaultSchema.ts
Due: prettier --write, eslint . --ext .ts

Delete icons/folder_type_core.svg
  icons/folder_type_core.svg
Due: none

Delete icons/folder_type_core_opened.svg
  icons/folder_type_core_opened.svg
Due: none

feat(folder): Add .agents folder icon
  icons/folder_type_agents.svg
  icons/folder_type_agents_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Delete icons/folder_type_frontend.svg
  icons/folder_type_frontend.svg
Due: none

Delete icons/folder_type_frontend_opened.svg
  icons/folder_type_frontend_opened.svg
Due: none

Add folder_type_backend.svg (open/closed)
  icons/folder_type_backend.svg
  icons/folder_type_backend_opened.svg
Due: none

Compressed frontend folder icon sizes
  icons/folder_type_frontend.svg
  icons/folder_type_frontend_opened.svg
Due: none

Compressed backend folder icon file sizes
  icons/folder_type_backend.svg
  icons/folder_type_backend_opened.svg
Due: none

Revised backend folder icons
  icons/folder_type_backend.svg
  icons/folder_type_backend_opened.svg
Due: none

feat(icon): add qrc icon
  icons/file_type_qrc.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add Fritzing file icon
  icons/file_type_fritzing.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add Proteus Design Suite file icon
  icons/file_type_proteus.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add render.yaml icon
  icons/file_type_light_render.svg
  icons/file_type_render.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: bracket spacing
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add support for jsr.jsonc
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add .opentofu-version filename support
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add .opentofu-version filename support (#4031)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Minified the file_type_qrc.svg icon using SVGOMG
  icons/file_type_qrc.svg
Due: none

feat: update icons adhere to guideline
  icons/file_type_light_render.svg
  icons/file_type_render.svg
Due: none

feat(icon): add render.yaml icon (#4027)
  icons/file_type_light_render.svg
  icons/file_type_render.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add pawn icon
  icons/file_type_pawn.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add .inc to pawn languge ID
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add qrc icon (#4024)
  icons/file_type_qrc.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: malformed pawn svg
  icons/file_type_pawn.svg
Due: none

feat(icon): add pawn icon (#4032)
  icons/file_type_pawn.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add cangjie icon
  icons/file_type_cangjie.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: cangjie language ID incorrect language property
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
