Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, tslint --fix

Update blade files with the Laravel logo (#2217)
  icons/file_type_blade.svg
Due: none

Add support for Vue config (#2219)
  icons/file_type_vueconfig.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Add support for styled components
  icons/file_type_styled.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for V lang
  icons/file_type_vlang.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for V lang (#2221)
  icons/file_type_vlang.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Add support for styled components (#2220)
  icons/file_type_styled.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Update C family icons
  icons/file_type_c.svg
  icons/file_type_c2.svg
  icons/file_type_c3.svg
  icons/file_type_cpp.svg
  icons/file_type_cpp2.svg
  icons/file_type_cpp3.svg
  icons/file_type_csharp.svg
  icons/file_type_csharp2.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Fix the minimum supported editor version
  src/vscode/vscodeManager.ts
  test/vscode/vscodeManager.test.ts
Due: prettier --write, tslint, tslint --fix

Fix the minimum supported editor version (#2223)
  src/vscode/vscodeManager.ts
  test/vscode/vscodeManager.test.ts
Due: prettier --write, tslint, tslint --fix

Update supportedFolders.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

Add support for TOTVS
  icons/file_type_advpl.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Fix Github folder icon
  icons/folder_type_github.svg
  icons/folder_type_github_opened.svg
Due: none

Add Support for Include
  icons/file_type_inc.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Change C-family icon priority
  icons/file_type_c.svg
  icons/file_type_c2.svg
  icons/file_type_cpp.svg
  icons/file_type_cpp2.svg
  icons/file_type_csharp.svg
  icons/file_type_csharp2.svg
Due: none

Add support for Hunspell
  icons/file_type_hunspell.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Added extensions to icon dist.
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

chore: go pkg support
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

Add more jest extensions
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Added missing trailing comma
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Update dependencies
  .huskyrc
  package-lock.json
  package.json
Due: none

Add Support for Include (#2230)
  icons/file_type_inc.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Add support for TOTVS (#2231)
  icons/file_type_advpl.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

Added extensions to icon dist. (#2234)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

Fix Github folder icon (#2232)
  icons/folder_type_github.svg
  icons/folder_type_github_opened.svg
Due: none

Add support for Hunspell (#2233)
  icons/file_type_hunspell.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, tslint

chore: go pkg support (#2236)
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, tslint

Update dependencies (#2240)
  .huskyrc
  package-lock.json
  package.json
Due: none

Add more jest extensions (#2237)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

chore(release): prepare 9.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): prepare 9.4.0 (#2242)
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Add Support for Powershell Format and Types icons
  icons/file_type_powershell.svg
  icons/file_type_powershell2.svg
  icons/file_type_powershell_format.svg
  icons/file_type_powershell_psd.svg
  icons/file_type_powershell_psd2.svg
  icons/file_type_powershell_psm.svg
  icons/file_type_powershell_psm2.svg
  icons/file_type_powershell_types.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Change C family order
  icons/file_type_c.svg
  icons/file_type_c2.svg
  icons/file_type_c3.svg
  icons/file_type_cpp2.svg
  icons/file_type_cpp3.svg
Due: none

Add disabled flag for Powershell second version
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Add background to include icon
  icons/file_type_inc.svg
Due: none

Pixel Perfect Default File
  icons/default_file.svg
Due: none

Final fix C family
  icons/file_type_c.svg
  icons/file_type_c2.svg
  icons/file_type_csharp.svg
Due: none

Add background to include icon (#2244)
  icons/file_type_inc.svg
Due: none

Pixel Perfect Default File (#2245)
  icons/default_file.svg
Due: none

Add Support for Powershell Format and Types icons (#2243)
  icons/file_type_powershell.svg
  icons/file_type_powershell2.svg
  icons/file_type_powershell_format.svg
  icons/file_type_powershell_psd.svg
  icons/file_type_powershell_psd2.svg
  icons/file_type_powershell_psm.svg
  icons/file_type_powershell_psm2.svg
  icons/file_type_powershell_types.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Update C family icons (#2222)
  icons/file_type_c3.svg
  icons/file_type_cpp3.svg
  icons/file_type_csharp2.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, tslint

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  tslint: any of: src/**/*.ts
  tslint --fix: any of: test/**/*.ts
