Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

.lintstagedrc:

{
  "src/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts"
  ],
  "test/**/*.ts": [
    "prettier --write",
    "eslint . --ext .ts --fix"
  ]
}

feat(icon): add clangd icon
  icons/file_type_clangd.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(eslint): add missing trailing comma
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add cangjie icon (#4033)
  icons/file_type_cangjie.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon/clangd): removed title and adjusted number precision to 2
  icons/file_type_clangd.svg
Due: none

feat(icon): add clangd icon (#4035)
  icons/file_type_clangd.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add textproto to protobuf language ID
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

feat: add textproto to protobuf language ID (#4037)
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

feat: add LTE (Luany Template Engine) file icon
  icons/file_type_lte.svg
  package-lock.json
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: move lte icon entry to correct alphabetical position
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: add .mts and .cts config file extensions (#3991)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add textlint icon and supported file extensions
  icons/file_type_textlint.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Add support for .textlintrc.cjs extension
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add textlint icon and supported file extensions (#4044)
  icons/file_type_textlint.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add eas.json to expo
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add claude.local.md to claude
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Add GitHub Actions workflow for NodeJS with Webpack
  .github/workflows/webpack.yml
Due: none

feat(icon): add the huff icon
  icons/file_type_huff.svg
  icons/file_type_light_huff.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(icon): update the apache icon
  icons/file_type_apache.svg
Due: none

feat(icon): add flatbuffers icon
  icons/file_type_flatbuffers.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icons): add dotenv environment variants
  icons/file_type_dotenv-development.svg
  icons/file_type_dotenv-local.svg
  icons/file_type_dotenv-production.svg
  icons/file_type_dotenv-qa.svg
  icons/file_type_dotenv-staging.svg
  icons/file_type_dotenv-test.svg
  icons/file_type_dotenv-uat.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icons): add Azure Pipelines filename variants
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(zed): remove chevron_icons from zedIconSchema and defaultSchema (#4022)
  src/models/iconSchema/zedIconSchema.ts
  src/models/iconsManifest/defaultSchema.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add support for jsr.jsonc (#4030)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Added frontend icon to supportedFolders
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Added backend icon to supportedFolders
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat: add eas.json to expo (#4046)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Update to lockfile v3
  package-lock.json
Due: none

Update to Playwright 1.60
  package-lock.json
Due: none

chore: update the lockfile (#4055)
  package-lock.json
Due: none

fix
  package.json
  src/common/errorHandler.ts
  src/models/extensions/folderCollection.ts
  src/services/compositionRootService.ts
  test/app/eventListeners.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

fix(extension): refresh package-lock.json tree
  package-lock.json
Due: none

fix
  package.json
Due: none

another fix
  package.json
Due: none

fix all
  package-lock.json
  package.json
Due: none

after install
  package-lock.json
Due: none

feat(icons): add support for .env.example and .env.sample variants
  icons/file_type_dotenv-example.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

refactor(icon): update the apache icon (#4050)
  icons/file_type_apache.svg
Due: none

feat(icon): add the huff icon (#4049)
  icons/file_type_huff.svg
  icons/file_type_light_huff.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add flatbuffers icon (#4051)
  icons/file_type_flatbuffers.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Compressed file sizes
  icons/folder_type_frontend.svg
  icons/folder_type_frontend_opened.svg
Due: none
