Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

Fixed margin issues
  icons/folder_type_frontend.svg
  icons/folder_type_frontend_opened.svg
Due: none

feat(icon): add postgresql icon
  icons/file_type_postgres.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Redrew frontend icon(s)
  icons/folder_type_frontend.svg
  icons/folder_type_frontend_opened.svg
Due: none

Redrew backend icon(s)
  icons/folder_type_backend.svg
  icons/folder_type_backend_opened.svg
Due: none

Modified backend icon(s)
  icons/folder_type_backend.svg
  icons/folder_type_backend_opened.svg
Due: none

fix(extension): refresh package-lock.json tree (#4054)
  package-lock.json
  package.json
  src/common/errorHandler.ts
  src/models/extensions/folderCollection.ts
  src/services/compositionRootService.ts
  test/app/eventListeners.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

feat(icon): add Read the Docs icon
  icons/file_type_light_readthedocs.svg
  icons/file_type_readthedocs.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icons): add missing mermaid language ids
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

feat(icons): add missing mermaid language ids (#4059)
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add Read the Docs icon (#4058)
  icons/file_type_light_readthedocs.svg
  icons/file_type_readthedocs.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add Fritzing file icon (#4025)
  icons/file_type_fritzing.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(nest): detect NestJS projects via nest config files
  src/pad/projectAutoDetectionManager.ts
  test/pad/nestjsDetection.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

feat(icon): add Mikro ORM icon
  icons/file_type_light_mikro_orm.svg
  icons/file_type_mikro_orm.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add Mikro ORM icon (#4061)
  icons/file_type_light_mikro_orm.svg
  icons/file_type_mikro_orm.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): add support for .jsonc, .ts, .mts, .cts, and .toml for cspell
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): correct cspell filename glob combinations
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): add support for .jsonc, .ts, .mts, .cts, and .toml for cspell (#4062)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add cuelang icon
  icons/file_type_cue.svg
  icons/file_type_light_cue.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add light property to cuelang entry
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add cuelang icon (#4063)
  icons/file_type_cue.svg
  icons/file_type_light_cue.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(folder): add swagger folder
  icons/folder_type_swagger.svg
  icons/folder_type_swagger_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat: reduce icon size
  icons/folder_type_swagger.svg
  icons/folder_type_swagger_opened.svg
Due: none

feat(icon): environments folder
  icons/folder_type_environments.svg
  icons/folder_type_environments_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(folder): add swagger folder (#4064)
  icons/folder_type_swagger.svg
  icons/folder_type_swagger_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat: add claude.local.md to claude (#4065)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: remove .psql and .sql file extension from postgres
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

chore(npmrc): disable engine-strict
  .npmrc
Due: none

feat(icon): add postgresql icon (#4056)
  icons/file_type_postgres.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add .cts and .mts to jest config
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add .cts and .mts to jest config (#4070)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

New translations lang.nls.json (Russian)
  locale/lang/lang.nls.ru.json
Due: none

New translations lang.nls.json (Chinese Simplified)
  locale/lang/lang.nls.zh-cn.json
Due: none

feat(icon): add flowgorithm icon
  icons/file_type_flowgorithm.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: reduce icon size
  icons/file_type_flowgorithm.svg
Due: none

Revert "feat: reduce icon size"
  icons/file_type_flowgorithm.svg
Due: none

feat: reduce precision
  icons/file_type_flowgorithm.svg
Due: none

feat(icon): add vale icon
  icons/file_type_vale.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support rst license
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
