Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, eslint --fix

added new folder extensions variants: application, webapp, dev, development
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  package.json
Due: none

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  package-lock.json
Due: none

fix: package.json, package-lock.json & .snyk to reduce vulnerabilities
  .snyk
Due: none

Add support for Kusto
  icons/file_type_kusto.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add support for commitlint
  icons/file_type_commitlint.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for lighthouse
  icons/file_type_lighthouse.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Extend zeit icon to vercel files
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Jenkinsfile
  icons/file_type_jenkinsfile.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Bosque
  icons/file_type_bosque.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add support for Hy
  icons/file_type_hy.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

chore: update dependencies and turn off some eslint rules
  .eslintrc.json
  package-lock.json
  package.json
  src/app/extensionManager.ts
  src/common/bundler.ts
  src/common/errorHandler.ts
  src/configuration/configManager.ts
  src/iconsManifest/customsMerger.ts
  src/iconsManifest/languages.ts
  src/models/iconsManifest/buildFiles.ts
  src/models/iconsManifest/buildFolders.ts
  src/tools/build.ts
  src/tools/bundle.ts
  src/uninstall.ts
  src/utils/index.ts
  test/app/messages.test.ts
  test/common/errorHandler.test.ts
  test/i18n/i18nManager.test.ts
Due: prettier --write, eslint, eslint --fix

Add support for DVC
  icons/file_type_dvc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Updated DVC icon
  icons/file_type_dvc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Update file_type_dvc.svg
  icons/file_type_dvc.svg
Due: none

Add support for jscpd
  icons/file_type_jscpd.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for rmd
  icons/file_type_rmd.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add unity icon
  icons/file_type_unity.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Updated the unity icon
  icons/file_type_unity.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Informix-4gl files
  icons/file_type_4gi.svg
  icons/file_type_4gl.svg
  icons/file_type_4go.svg
  icons/file_type_err.svg
  icons/file_type_frm.svg
  icons/file_type_per.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Extend zeit icon to vercel files (#2487)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for glyphs
  icons/file_type_glyphs.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Add support for Drawio
  icons/file_type_drawio.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for Bats
  icons/file_type_bats.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Fix extension with leading dot drawio
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Add support for fthtml
  icons/file_type_fthtml.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Due: prettier --write, eslint

Update Scala icon
  icons/file_type_scala.svg
Due: none

Update Scala icon (#2522)
  icons/file_type_scala.svg
Due: none

Enhance pinescript with extra id
  src/iconsManifest/languages.ts
Due: prettier --write, eslint

Enhance pinescript with extra id (#2524)
  src/iconsManifest/languages.ts
Due: prettier --write, eslint

Update Bloc folder icon
  icons/folder_type_bloc.svg
  icons/folder_type_bloc_opened.svg
Due: none

feat: extend husky icon to support husky.config.js
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Update Bloc folder icon (#2527)
  icons/folder_type_bloc.svg
  icons/folder_type_bloc_opened.svg
Due: none

feat: extend husky icon to support husky.config.js (#2528)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint: any of: src/**/*.ts
  eslint --fix: any of: test/**/*.ts
