Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

chore(format): add `eslint`rules for imports sorting
  .vscode/settings.json
  eslint.config.mjs
  package.json
  src/configuration/configManager.ts
  src/models/extensions/fileCollection.ts
  src/models/extensions/fileExtension.ts
  src/models/extensions/folderCollection.ts
  src/models/projectDetector/projectAutoDetectionManager.ts
  src/models/projectDetector/projectDetectionResult.ts
  src/models/settings/settingsManager.ts
  src/models/vscode/vscode.ts
  src/models/vscode/vscodeManager.ts
  src/models/vscode/vscodeWorkspace.ts
  src/utils/index.ts
  test/app/extensionManager.test.ts
  test/common/bundler.test.ts
  test/configuration/configManager.test.ts
  test/i18n/i18nManager.test.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  test/iconsManifest/specsExtensions.test.ts
  test/iconsManifest/specsFolders.test.ts
  test/index.test.ts
  test/index.ts
  test/notification/notificationManager.test.ts
  test/tools/build.test.ts
  test/uninstall.test.ts
  test/utils/utils.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

ran 'npm run format'
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(dev): add support for development in container (#4285)
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none

enhance(dev): improve UX for extension web development (#4292)
  .vscode/launch.json
  .vscode/tasks.json
  package-lock.json
  package.json
  webpack.config.ts
Due: none

chore(dev): move node types to minimum supported node (#4296)
  package-lock.json
  package.json
Due: none

feat(icon): add a dedicated file icon for tasks.json (#4288)
  icons/file_type_light_zed.svg
  icons/file_type_tasks_json.svg
  icons/file_type_zed.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add kadence folder icon (#4267)
  icons/folder_type_kadence.svg
  icons/folder_type_kadence_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

refactor(folders): resolve hidden folder margin in a more concrete way (#4287)
  src/iconsManifest/manifestBuilder.ts
  src/models/iconSchema/iconMapping.ts
  test/iconsManifest/manifestBuilder/folders.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

Feat/add cdp icon (#4297)
  icons/file_type_cdp.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

chore(dev): restore pre-commit hooks functionality (#4294)
  .husky/pre-commit
  .huskyrc
  package.json
Due: none

fix(dev): fix debug test runner
  eslint.config.mjs
  package.json
  test/common/errorHandler.test.ts
  test/iconsManifest/customsMerger/presets.test.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  test/index.test.ts
  test/index.ts
Due: prettier --write, eslint . --ext .ts --fix

chore(info): update maintainer info
  package.json
Due: none

chore(info): update maintainer info (#4300)
  package.json
Due: none

chore(devops): update `.prettierignore` to exclude non-related files
  .prettierignore
Due: none

fix(dev): fix debug test runner (#4298)
  eslint.config.mjs
  package.json
  test/common/errorHandler.test.ts
  test/iconsManifest/customsMerger/presets.test.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  test/index.test.ts
  test/index.ts
Due: prettier --write, eslint . --ext .ts --fix

chore(devops): restore code coverage using GitHub service
  .github/workflows/test.yml
  .nycrc
  package.json
Due: none

chore(devops): restore code coverage using GitHub service (#4304)
  .github/workflows/test.yml
  .nycrc
  package.json
Due: none

fix(devops): fix condition for code coverage reporting
  .github/workflows/test.yml
Due: none

fix(devops): fix condition for code coverage reporting (#4305)
  .github/workflows/test.yml
Due: none

fix(devops): attempt again to fix code coverage reporting
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: none

fix(devops): attempt again to fix code coverage reporting (#4306)
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: none

feat(icon): add aube icon
  icons/file_type_aube.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix: format
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add flue icon
  icons/file_type_flue.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add smolmachine icon
  icons/file_type_smolmachine.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add robocop icon
  icons/file_type_light_robocop.svg
  icons/file_type_robocop.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(devops): lint only staged files in pre-commit hook
  .lintstagedrc.json
Due: none

fix: change eslint to apply all file via lint staged
  .lintstagedrc.json
Due: none

fix(devops): fix `webpack` to be included in `eslint`
  eslint.config.mjs
  src/constants/index.ts
  src/models/packageManifest/vscodeProperties.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  tsconfig.json
  webpack.config.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

fix(devops): fix `webpack` to be included in `eslint` (#4313)
  eslint.config.mjs
  src/constants/index.ts
  src/models/packageManifest/vscodeProperties.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  tsconfig.json
  webpack.config.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

fix(devops): lint only staged files in pre-commit hook (#4312)
  .lintstagedrc.json
Due: none

chore(devops): update `.prettierignore` list
  .prettierignore
Due: none

optimized and centered
  icons/file_type_aspire.svg
Due: none

feat(icon): Add icon for Aspire (#3824)
  icons/file_type_aspire.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add RobotCode icon
  icons/file_type_robotcode.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(icon): add robotframework language ID for robot icon
  src/iconsManifest/languages.ts
Due: prettier --write, eslint . --ext .ts

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
