Repository vscode-icons/vscode-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

ci(wiki): add git identity
  .github/workflows/wpil.yml
Due: none

Add initial devcontainer configuration
  .devcontainer/devcontainer.json
Due: none

feat(zed): support to build a zed extension manifest
  package.json
  src/constants/index.ts
  src/iconsManifest/iconsGenerator.ts
  src/iconsManifest/manifestBuilder.ts
  src/models/iconSchema/iconSchema.ts
  src/models/iconSchema/index.ts
  src/models/iconSchema/zedIconSchema.ts
  src/models/iconsManifest/defaultSchema.ts
  src/models/iconsManifest/iconsGenerator.ts
  test/app/actions.test.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  test/iconsManifest/manifestBuilder/files.test.ts
  test/iconsManifest/manifestBuilder/folders.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

tests fixed
  src/constants/index.ts
  src/iconsManifest/iconsGenerator.ts
  src/iconsManifest/manifestBuilder.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

extended languages
  src/iconsManifest/languages.ts
  src/models/language/language.ts
  test/fixtures/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

support for language id
  .prettierrc
  src/iconsManifest/manifestBuilder.ts
  src/models/iconsManifest/buildFiles.ts
  test/iconsManifest/customsMerger/fileExtensions.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

support for flavours
  src/iconsManifest/manifestBuilder.ts
  src/models/iconsManifest/defaultSchema.ts
Due: prettier --write, eslint . --ext .ts

license capitalized for ZED
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

some more tests
  test/fixtures/supportedFolders.ts
  test/iconsManifest/manifestBuilder/files.test.ts
Due: prettier --write, eslint . --ext .ts --fix

revert package.json
  package.json
Due: none

fix package json
  package.json
Due: none

feat(zed): create a Zed extension manifest (#3865)
  .prettierrc
  package.json
  src/constants/index.ts
  src/iconsManifest/iconsGenerator.ts
  src/iconsManifest/languages.ts
  src/iconsManifest/manifestBuilder.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/iconSchema/iconSchema.ts
  src/models/iconSchema/index.ts
  src/models/iconSchema/zedIconSchema.ts
  src/models/iconsManifest/buildFiles.ts
  src/models/iconsManifest/defaultSchema.ts
  src/models/iconsManifest/iconsGenerator.ts
  src/models/language/language.ts
  test/app/actions.test.ts
  test/fixtures/supportedExtensions.ts
  test/fixtures/supportedFolders.ts
  test/iconsManifest/customsMerger/fileExtensions.test.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  test/iconsManifest/manifestBuilder/files.test.ts
  test/iconsManifest/manifestBuilder/folders.test.ts
Due: prettier --write, eslint . --ext .ts, eslint . --ext .ts --fix

fix(zed): the name cannot end with Zed
  src/models/iconsManifest/defaultSchema.ts
Due: prettier --write, eslint . --ext .ts

ci(coverage): disable code climate workflows
  .github/workflows/coverage.yml
  .github/workflows/test.yml
Due: none

fix(filenames): fixed some file names for the Zed extension
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

more cases
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(tools): add tooling folder to tools
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

fix(filenames): fixed some file names for the Zed extension
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

fix(filenames): fixed some file names for the Zed extension (#3866)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(cloudflare): folder and file support
  icons/file_type_cloudflare.svg
  icons/folder_type_cloudflare.svg
  icons/folder_type_cloudflare_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(cloudflare): folder and file support (#3869)
  icons/file_type_cloudflare.svg
  icons/folder_type_cloudflare.svg
  icons/folder_type_cloudflare_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(cargo): support for cargo folders
  icons/folder_type_cargo.svg
  icons/folder_type_cargo_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(cargo): support for cargo folders (#3870)
  icons/folder_type_cargo.svg
  icons/folder_type_cargo_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add support for gemini
  icons/file_type_gemini.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add support for gemini (#3871)
  icons/file_type_gemini.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support for .zed folder
  icons/folder_type_light_zed.svg
  icons/folder_type_light_zed_opened.svg
  icons/folder_type_zed.svg
  icons/folder_type_zed_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support for .zed folder (#3872)
  icons/folder_type_light_zed.svg
  icons/folder_type_light_zed_opened.svg
  icons/folder_type_zed.svg
  icons/folder_type_zed_opened.svg
  src/iconsManifest/supportedFolders.ts
Due: prettier --write, eslint . --ext .ts

Add Astro config `.cts` + `.mts` support
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Add WXT config `.js` + `.cjs` + `.mjs` + `.cts` + `.mts` support
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Add Astro config `.cts` + `.mts` support (#3873)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Add WXT config `.js` + `.cjs` + `.mjs` + `.cts` + `.mts` support (#3874)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the robots-txt language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): support the robots-txt language (#3876)
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat: add turborepo micro frontends config
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

style: lint
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): update `turbo` icon to handle `microfrontends.json` (#3881)
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add support for the vroom language
  icons/file_type_vroom.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): add icon for W3C design tokens
  icons/file_type_design_tokens.svg
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

feat(icon): extend to pytest toml config files
  src/iconsManifest/supportedExtensions.ts
Due: prettier --write, eslint . --ext .ts

Path conditions:
  prettier --write: (any of: src/**/*.ts) or (any of: test/**/*.ts)
  eslint . --ext .ts: any of: src/**/*.ts
  eslint . --ext .ts --fix: any of: test/**/*.ts
